<div class="overlay-example" id="overlay-align">
    <p><pre id="alignment"></pre><span id="step"></span></p>
    <p><button type="button" id="align">Next Alignment</button></p>
    <p class="filler">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc pretium quam eu mi varius pulvinar. Duis orci arcu, ullamcorper sit amet, luctus ut, interdum ac, quam. Pellentesque euismod. Nam tincidunt, purus in ultrices congue, urna neque posuere arcu, aliquam tristique purus sapien id nulla. Etiam rhoncus nulla at leo. Cras scelerisque nisl in nibh. Sed eget odio. Morbi elit elit, porta a, convallis sit amet, rhoncus non, felis. Mauris nulla pede, pretium eleifend, porttitor at, rutrum id, orci. Quisque non urna. Nulla aliquam rhoncus est.</p>
    <div id="align1" class="align-box"><span class="title">id = #align1</span></div>
    <div id="align2" class="align-box"><span class="title">id = #align2</span></div>
    <div id="align3" class="align-box"><span class="title">id = #align3</span></div>
</div>

<script type="text/javascript">
YUI().use("overlay", function(Y) {

    /* Create Overlay from script, this time. No footer */
    var overlay = new Y.Overlay({
        width:"10em",
        height:"10em",
        headerContent: "Aligned Overlay",
        bodyContent: "Click the 'Next Alignment' button to try a new alignment",
        zIndex:2
    });

    /* Render it to #overlay-align element */
    overlay.render("#overlay-align");

    var alignment = Y.one("#alignment");
    var stepNumber = Y.one("#step");

    /* Setup local variable for Y.WidgetPositionAlign, since we use it multiple times */
    var WidgetPositionAlign = Y.WidgetPositionAlign;

    var steps = [
        function() {
            /* Center in #overlay-align */
            overlay.set("align", {node:"#overlay-align", points:[WidgetPositionAlign.CC, WidgetPositionAlign.CC]});
            alignment.set("innerHTML", 'align: {node:"#overlay-align", points:["cc", "cc"]}');
        },
        function() {
            /* Align top-left corner of overlay, with top-right corner of #align1 */
            overlay.set("align", {node:"#align1", points:[WidgetPositionAlign.TL, WidgetPositionAlign.TR]});
            alignment.set("innerHTML", 'align: {node:"#align1", points:["tl", "tr"]}');
        },
        function() {
            /* Center overlay in #align2 */
            overlay.set("centered", "#align2");
            alignment.set("innerHTML", 'centered: "#align2"');
        },
        function() {
            /* Align right-center edge of overlay with right-center edge of viewport */
            overlay.set("align", {points:[WidgetPositionAlign.RC, WidgetPositionAlign.RC]});
            alignment.set("innerHTML", 'align: {points:["rc", "rc"]} (viewport)');
        },
        function() {
            /* Center overlay in viewport */
            overlay.set("centered", true);
            alignment.set("innerHTML", "centered: true (viewport)");
        },
        function() {
            /* Align top-center edge of overlay with bottom-center edge of #align3 */
            overlay.set("align", {node:"#align3", points:[WidgetPositionAlign.TC, WidgetPositionAlign.BC]});
            alignment.set("innerHTML", 'align: {node:"#align3", points:["tc", "bc"]}');
        }
    ];

    var step = 0;
    var totalSteps = steps.length;

    function alignNext() {
        stepNumber.set("innerHTML", "Alignment " + (step+1) + " of " + totalSteps);
        steps[step]();
        step = (++step)%(totalSteps);
    }

    alignNext();

    Y.on("click", alignNext, "#align");
});
</script>
