<div class="intro">
    <p>Normalize.css normalizes styles across browsers and provides a starting point for your own project's CSS. This example shows what that looks like when applied to a regular HTML page.</p>
</div>

<div class="example newwindow">
    <a href="normalize-basic-example.html" target="_blank" class="button">
        View Example in New Window
    </a>
</div>

<h3>Note:</h3>
<p>Because CSS examples are susceptible to other CSS on the page, this example is only available in a new window at the above link.</p>


