.yui3-paginator-table {
    background: white url(../../../../assets/skins/night/sprite.png) repeat-x 0 0;
    background-image: -webkit-linear-gradient(transparent 40%, hsla(0, 0%, 0%, 0.21));
    background-image: -moz-linear-gradient(top, transparent 40%, hsla(0, 0%, 0%, 0.21));
    background-image: -ms-linear-gradient(transparent 40%, hsla(0, 0%, 0%, 0.21));
    background-image: -o-linear-gradient(transparent 40%, hsla(0, 0%, 0%, 0.21));
    background-image: linear-gradient(transparent 40%, hsla(0, 0%, 0%, 0.21));
}

.yui3-paginator-table .yui3-paginator-control {
    color: hsl(222, 30%, 20%);
}

.yui3-paginator-table .yui3-paginator-control-first:hover,
.yui3-paginator-table .yui3-paginator-control-last:hover,
.yui3-paginator-table .yui3-paginator-control-prev:hover,
.yui3-paginator-table .yui3-paginator-control-next:hover {
    box-shadow: 0 1px 2px hsl(250, 30%, 20%);
}

.yui3-paginator-table .yui3-paginator-control-first:active,
.yui3-paginator-table .yui3-paginator-control-last:active,
.yui3-paginator-table .yui3-paginator-control-prev:active,
.yui3-paginator-table .yui3-paginator-control-next:active {
    box-shadow: inset 0 1px 1px hsl(250, 30%, 20%);
    background: hsla(250, 30%, 90%, 0.3);
}

.yui3-paginator-table .yui3-paginator-control-disabled,
.yui3-paginator-table .yui3-paginator-control-disabled:hover {
    color: hsl(220,30%,80%);
    border-color: transparent;
    box-shadow: none;
}
