<div id="demo">
    <input type="button" id="demo_freeze" value="Freeze">
    <input type="button" id="demo_thaw" disabled="disabled" value="Thaw">
    <pre id="demo_frozen">(stringify results here)</pre>
    <div id="demo_thawed"></div>
</div>
