<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>YUI 3.x: CSS Reset Contextual Example</title>
    <link rel="stylesheet" href="{{yuiBuildUrl}}/cssreset-context/cssreset-context.css" type="text/css">
    <script src="{{yuiSeedUrl}}"></script>
</head>
<body>

	<div>
		<h1>Hello World</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul>
			<li>In voluptate velit esse cillum</li>
			<li>In voluptate velit esse cillum</li>
			<li>In voluptate velit esse cillum</li>
		</ul>
	</div>

	<div class="yui3-cssreset">
        ----------------------------------------
		<h1>Hello World (within context)</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul>
			<li>In voluptate velit esse cillum</li>
			<li>In voluptate velit esse cillum</li>
			<li>In voluptate velit esse cillum</li>
		</ul>
        ----------------------------------------
	</div>

	<div>
		<h1>Hello World</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<ul>
			<li>In voluptate velit esse cillum</li>
			<li>In voluptate velit esse cillum</li>
			<li>In voluptate velit esse cillum</li>
		</ul>
	</div>

</body>
