@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('./fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('./fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'YUIFont';
  src: url('../../fonts/font-yui/yui.eot?v=3.0.1');
  src: url('../../fonts/font-yui/yui.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../../fonts/font-yui/yui.woff?v=3.0.1') format('woff'),
    url('../../fonts/font-yui/yui.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.yui3-paginator-dt {
    padding: 3px;
}
.yui3-paginator-dt .yui3-paginator-control {
    display: block;
    margin: 0 3px;
    padding: 0 0.2em;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px;
}
.yui3-paginator-dt .yui3-paginator-control-disabled,
.yui3-paginator-dt .yui3-paginator-control-disabled:hover {
    cursor: default;
}
.yui3-paginator-dt .yui3-paginator-control-first,
.yui3-paginator-dt .yui3-paginator-control-last,
.yui3-paginator-dt .yui3-paginator-control-prev,
.yui3-paginator-dt .yui3-paginator-control-next {
    text-indent: -999px;
    overflow: hidden;
    position: relative;
    width: 1em;
}
.yui3-paginator-dt .yui3-paginator-control:before {
    font-family: "YUIFont";
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}
.yui3-paginator-dt .yui3-paginator-control-first:before {
    content: "c";
}
.yui3-paginator-dt .yui3-paginator-control-last:before {
    content: "d";
}
.yui3-paginator-dt .yui3-paginator-control-prev:before {
    content: "a";
}
.yui3-paginator-dt .yui3-paginator-control-next:before {
    content: "b";
}
