/* Buttons: Main sprite
****************************************/
.form-submit,
.form-button,
.form-button-normal,
.button-image,
.form-button-large,
.button-image-large,
.button-image-small,
.button-image-tiny {
  
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border: 0;
  
  color: #FFFFFF;
  text-transform: capitalize;
  text-align: center;
  
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  border-radius:4px;
  
  background: #2A98FA;
  background:-moz-linear-gradient(center top , #2A98FA, #226CEC);
  background:-webkit-gradient(linear, left top, left bottom, from(#2A98FA), to(#226CEC));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#2A98FA, EndColorStr=#226CEC);
  letter-spacing:0em;
  text-decoration:none !important; 
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  
  font-weight: normal;
  
  cursor: pointer;
  
  text-indent: 0 !important;
  
  position: relative;
  
  font-size: 13.5px;
  
  -webkit-user-select:none;
  -moz-user-select:none;
  
  font-weight: bold;
  
  white-space: nowrap;
  
  font-family: Arial, sans-serif;
  
  -moz-box-shadow: 0 1px 0 0 #FFFFFF;
  -webkit-box-shadow: 0 1px 0 0 #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}
.form-button.form-button-tiny { /* tiny buttons are brighter than bigger ones */
  background: #2AA9FA;
  background:-moz-linear-gradient(center top , #2AA9FA, #226CEC); 
  background:-webkit-gradient(linear, left top, left bottom, from(#2AA9FA), to(#226CEC));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#2AA9FA, EndColorStr=#226CEC);
  font-family: Arial, sans-serif;
  font-weight: normal;
}
.button-sprite,
.form-button.button-sprite,
.form-button.form-button-tiny.button-sprite {
  background-color: transparent;
  background-image: url('/assets/img/buttons/global.png');
  filter: ''; /* IE */
  display: block;
  text-indent: -9999px !important;
}

/*input.form-button {
  padding-bottom: 2px;
}
*/
.form-button:visited,
.form-button:active,
.form-button:focus {
  color: #FFFFFF;
}

/* This is for hiding the arrow when hideButtons and showButtons are called */
.button-arrow-none .button-right-arrow:after,
.button-arrow-none .button-left-arrow:after, 
.button-arrow-none.button-right-arrow:after, 
.button-arrow-none.button-left-arrow:after,
.button-arrow-none .button-right-black-arrow,
.button-arrow-none .button-left-black-arrow,
.button-arrow-none.button-right-black-arrow,
.button-arrow-none.button-left-black-arrow { 
  display: none !important; 
}

.form-button:hover,
.button-right-arrow:hover input.form-button,
.button-left-arrow:hover input.form-button {
  background-color: #04BFFD;
  background:-moz-linear-gradient(center top , #04bffd, #0080e2);
  background:-webkit-gradient(linear, left top, left bottom, from(#04bffd), to(#0080e2));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#04bffd, EndColorStr=#0080e2);
  
  border:none; 
  color:#FFFFFF; 
  letter-spacing:0.0em;
  text-decoration:none !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.form-button:active {
  outline: 0 !important;
  outline-style: none !important;
  background: #2A98FA;
  background:-moz-linear-gradient(center top , #226CEC, #2A98FA);
  background:-webkit-gradient(linear, left top, left bottom, from(#226CEC), to(#2A98FA));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#226CEC, EndColorStr=#2A98FA);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form-button.form-button-tiny:hover { /* tiny buttons are brighter than bigger ones */
  background-color: #04BFFD;
  background:-moz-linear-gradient(center top , #04BFFD, #0080E2);
  background:-webkit-gradient(linear, left top, left bottom, from(#04BFFD), to(#0080E2));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#04BFFD, EndColorStr=#0080E2);
}
.button-sprite:hover,
.form-button.button-sprite:hover,
.form-button.form-button-tiny.button-sprite:hover,
.button-sprite:active,
.form-button.button-sprite:active,
.form-button.form-button-tiny.button-sprite:active {
  background-color: transparent; /* must be before background-image */
  background-image: url('/assets/img/buttons/global.png');
  filter: ''; /* reset filter for IE */
  display: block;
  text-indent: -9999px !important;
}

/* form buttons, disabled */
.form-button.form-button-disabled,
.form-button.form-button-disabled:hover,
.form-button-black.form-button-disabled,
.form-button-black.form-button-disabled:hover{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background:#a2a2a2 !important; 
  filter: '' !important; /* IE */ 
  
  border:medium none;
  color:#FFFFFF !important;
  letter-spacing:0.0em;
  text-decoration:none;
  
  text-shadow: none !important;
  
  cursor: default !important;
}

/* end disabled form buttons */

/* basic buttons */

.form-button-basic,
.form-button-basic:visited,
.form-button-basic:focus,
.form-button-tiny.form-button-following {
  height: 28px;
  line-height: 28px; /* more places need this than do not. */
  border: 1px solid #b6b6b6;
  text-shadow: none;
  color: #2d2d2d;
  font-size: 13.5px !important;
  white-space: nowrap;
  background: #FBFBFB; /* old browsers */
  background: -moz-linear-gradient(top, #FBFBFB 0%, #FFF 48%, #F6F6F6 57%, #E9E9E9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFBFB), color-stop(48%,#FFF), color-stop(57%,#F6F6F6), color-stop(100%,#E9E9E9)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFBFB', endColorstr='#E9E9E9',GradientType=0 ); /* ie */
  font-weight: normal !important;
}

input.form-button-basic {
  height: 30px;
  line-height: 30px;
}

.form-button-small.form-button-basic {
  height: 25px;
  line-height: 25px;
}

.form-button-basic:hover,
.form-button-tiny.form-button-following:hover,
.button-right-black-arrow:hover input.form-button,
.button-left-black-arrow:hover input.form-button {
  color: #2d2d2d;
  border: 1px solid #b6b6b6;
  text-shadow: none;
  background: #FBFBFB; /* old browsers */
  background: -moz-linear-gradient(top, #FFF 0%, #FFF 48%, #F8F8F8 57%, #F8F8F8 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(48%,#FFF), color-stop(57%,#F8F8F8), color-stop(100%,#F8F8F8)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F8F8F8',GradientType=0 ); /* ie */
}

.form-button-basic:active {
  color: #2d2d2d;
  text-shadow: 0;
  background: #FBFBFB; /* old browsers */
  background: -moz-linear-gradient(top, #E9E9E9 0%, #F6F6F6 48%, #FFF 57%, #FBFBFB 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E9E9E9), color-stop(48%,#F6F6F6), color-stop(57%,#FFF), color-stop(100%,#FBFBFB)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E9E9E9', endColorstr='#FBFBFB',GradientType=0 ); /* ie */
}

.form-button-basic.form-button-disabled,
.form-button-basic.disabled,
.form-button-basic.form-button-disabled:hover,
.form-button-basic.disabled:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e0e0e0 !important;
  color: #a4a4a4 !important;
  border: 1px solid #b6b6b6;
}

.button-right-arrow.form-button-basic.form-button-disabled:after,
.button-right-arrow.form-button-basic.disabled:after,
.button-right-arrow.form-button-basic.form-button-disabled:hover:after,
.button-right-arrow.form-button-basic.disabled:hover:after{
  background-position: -13px -391px; /* arrow-right-grey */
}

.button-left-arrow.form-button-basic.form-button-disabled:after,
.button-left-arrow.form-button-basic.disabled:after,
.button-left-arrow.form-button-basic.form-button-disabled:hover:after,
.button-left-arrow.form-button-basic.disabled:hover:after {
  background-position: -10px -364px; /* arrow-left-grey */
}

/* end basic buttons */

/* grey buttons */

.form-button-grey {
  font-size:10pt; 
  -webkit-border-radius: 4px;
	-moz-border-radius:    4px;
	-o-border-radius:      4px;
	border-radius:         4px;
  background: #FCFCFC;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#DEDEDE');
  background: -moz-linear-gradient(center top , #FCFCFC, #DEDEDE);
  background:-webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#DEDEDE));
  position: relative;
  display: block;
  cursor: pointer;
  cursor: hand; /* IE 6 & 7*/
  border:1px solid #D2D2D2; 
  color:#005CFF; 
  font-size:13.5px; 
  font-weight:normal; 
  line-height: 30px;
  letter-spacing:0.0em;
  text-align: center;
  text-decoration:none; 
  text-indent:0px;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
  text-transform:capitalize;
  height:26px;
  -webkit-user-select:none;
  -moz-user-select:none;
  white-space: nowrap;
}

.form-button-grey:hover {
  border:1px solid #D2D2D2; 
  background: #FDFDFD;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#F6F6F6');
  background: -moz-linear-gradient(center top , #FDFDFD, #F6F6F6);
  background:-webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F6F6F6));
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
  text-decoration:none !important;
}

.form-button-grey:focus {
  color:#494949;
}

.form-button-grey:active {
  outline: 0 !important;
  outline-style: none !important;
  background: #FCFCFC;
  color:#494949;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DEDEDE', endColorstr='#FCFCFC');
  background: -moz-linear-gradient(center top , #DEDEDE, #FCFCFC);
  background:-webkit-gradient(linear, left top, left bottom, from(#DEDEDE), to(#FCFCFC));
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* end grey buttons */

/* icons in buttons */
.button-right-arrow:after,
.button-right-black-arrow:after,
.button-left-black-arrow:after,
.button-left-arrow:after,
.button-right-blue-arrow:after,
.block-edit .block-help-header a:after,
.form-button-tiny.form-button-description:after,
.form-button-tiny.form-button-project-info:after,
.form-button-tiny.form-button-tools:after {
  background-color: transparent; /* must be before background-image */
  background-image: url('/assets/img/site/arrows.png');
  filter: ''; /* reset filter for IE */
  content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
  cursor: pointer;
  cursor: hand; /* IE */
  -webkit-user-select:none;
  -moz-user-select:none;
}

.form-button-disabled.button-right-arrow:after,
.form-button-disabled.button-right-black-arrow:after,
.form-button-disabled.button-left-black-arrow:after,
.form-button-disabled.button-left-arrow:after,
.form-button-disabled.block-edit .block-help-header a:after{
  cursor: default;
}

.form-button-plus:after,
.form-button-add-entry:after,
.form-button-tiny.form-button-following:after,
#reorder-projects:after,
#save-order:after {
  background-image: url('/assets/img/site/elements.png');
  content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
  cursor: pointer;
  cursor: hand; /* IE */
  -webkit-user-select:none;
  -moz-user-select:none;
}

.button-right-arrow:after, /* white arrow */
.button-left-arrow:after, /* white arrow */
.button-right-blue-arrow:after,
.button-left-black-arrow:after,
.button-right-black-arrow:after { 
	width:4px;
	height:7px;
	top: 12px;
}

.form-button-next.button-right-arrow:after,
.button-right-arrow:after {
  background-position: -13px -85px;
	right: 11px;
}

.form-button-previous.button-left-arrow:after,
.button-left-arrow:after {
  background-position: -10px -58px;
	left: 11px;
}

.button-right-blue-arrow:after {
  background-position: -13px -289px;
	right: 7px;
}

.form-button-basic.button-right-arrow:after,
.button-right-black-arrow:after { /* black arrow */
  background-position: -13px -187px;
  right: 11px;
}


.form-button-basic.button-left-arrow:after,
.button-left-black-arrow:after { /* black arrow */
  background-position: -10px -160px;
  left: 11px;
}

.button-left-black-arrow:after,
.button-right-black-arrow:after {
  top: 12px;
}


.form-button-previous.button-left-arrow:after,
.form-button-next.button-right-arrow:after,
.form-button-basic:after {
  top: 11px;
}

/* plus sign icon */
.form-button-plus,
.form-button-add-entry {
  font-size: 13.5px;
  font-weight: bold;
  text-align: right;
}
.form-button-plus:after,
.form-button-add-entry:after {
  width: 11px;
  height: 11px;
  background-position: -81px -275px;
  
  top: 10px;
  left: 9px;
}

.form-button-add-entry:after {
  left: 12px;
}

.form-button-xlarge,
.button-image-xlarge {
  height: 52px;
}
.form-button-disabled, 
.button-image-disabled {
  cursor: default;
}
.right-triangle-arrow { /* for if we need to make an actual arrow with its own html element */
	background:transparent;
	display: inline-block;
	height: 0px;
	width: 0px;
	position: absolute;
	right: 12%; 
	top: 38%;
}
/* creates triangle */
.right-triangle-arrow:after {
  content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;

	bottom:0px; /* value = - border-top-width - border-bottom-width */
	left:5px; /* controls horizontal position */
	width:0;
	height:0;
	border-width:4px 4px; /* vary these values to change the angle of the vertex */
	border-style:solid;
  
  -webkit-user-select:none; /* Prevents weird-looking highlighting */
  -moz-user-select:none; /* Prevents weird-looking highlighting */
  
  cursor: pointer; 
  cursor: hand; /* IE */

	bottom:auto;
	border-color:transparent transparent transparent #FFFFFF;
}

/* tiny button arrow position */
.form-button-tiny:after {
  right: 5px;
  top: 5px;
}

/* button shadow for buttons on dark backgrounds */
.dark-button-shadow {
  -moz-box-shadow: 0 1px 0 0 #353535;
  -webkit-box-shadow: 0 1px 0 0 #353535;
  box-shadow: 0 1px 0 0 #353535;
}

/* Transparent buttons
****************************************/
.form-button-transparent,
.form-button-tiny-transparent {
  display: block;
  
  height:40px;
  line-height:40px;
  text-align:center;
  padding:0 25px;
  
  text-decoration:none !important;
  
  border: 0;
  font-weight: bold;
  text-indent: 0;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  -o-border-radius:      4px;
  border-radius:         4px;
  -webkit-user-select:none;
  -moz-user-select:none;
}
.form-button-transparent {
  height: 30px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 30px;
  -webkit-user-select:none;
  -moz-user-select:none;
}



input.form-button-transparent {
  padding-bottom: 2px;
}
.form-button-tiny-transparent {
  height: 17px;
  padding: 0 5px;
  background-position: 0 -60px;
  font-size: 10px;
  line-height: 17px;
  text-transform: uppercase;
}



/* Regular buttons: Main sprite
****************************************/

/* tiny buttons */
.form-button-tiny {
  font-size: 9.5px;
  line-height:17px;
  height:17px;
  padding-left: 5px;
  
  text-transform:uppercase;
  text-align: left;
  text-shadow: none !important;
  
  -webkit-border-radius: 3px;
  -moz-border-radius:    3px;
  -o-border-radius:      3px;
  border-radius:         3px;
  
  white-space: nowrap;
}

.form-button-tiny.form-button-no-arrow {
  padding-left: 0;
  text-align: center;
}

/* small buttons */
.form-button-small {
  line-height:25px;
  height:25px;
  font-size: 12.5px;
  font-weight: normal;
  white-space: nowrap;
  font-family: Arial, sans-serif;
}

/* large buttons */
.form-button-large {
  font-size:14px;
  line-height:41px;
  height:41px;
  white-space: nowrap;
  font-family: Helvetica, Arial, sans-serif;
}

/* black buttons */
.form-button-black,
.form-button-ignore,
.form-button-small.form-button-cancel, 
.form-button-small.form-button-cancel-all,
.form-button.form-button-cancel, 
.form-button.form-button-cancel-all,
.form-button-small.form-button-dont-save,
.form-button-small.form-button-dont-send,
.form-button.form-button-next,
.form-button.form-button-previous,
.frame-view .form-button-tiny.form-button-follow {
  background:#000;
  background:-moz-linear-gradient(center top , #4F4F4F, #000000);
  background:-webkit-gradient(linear, left top, left bottom, from(#4F4F4F), to(#000000));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#4F4F4F, EndColorStr=#000000);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  cursor: hand;
}

.form-button-cancel {
  width: 69px;
}

.form-button-black:hover,
.form-button-ignore:hover,
.form-button-next:hover,
.button-right-arrow:hover input.form-button-next,
.button-left-arrow:hover input.form-button-previous,
.button-right-arrow:hover input.form-button-black,
.button-left-arrow:hover input.form-button-black,
.form-button-previous:hover,
.form-button-small.form-button-cancel:hover, 
.form-button.form-button-cancel:hover, 
.form-button-small.form-button-cancel-all:hover, 
.form-button.form-button-cancel-all:hover,
.form-button-small.form-button-dont-save:hover,
.form-button-small.form-button-dont-send:hover,
.form-button.form-button-next:hover,
.form-button.form-button-previous:hover,
.frame-view .form-button-tiny.form-button-follow:hover {
  background:#717171;
  background:-moz-linear-gradient(center top , #717171, #1c1c1c);
  background:-webkit-gradient(linear, left top, left bottom, from(#717171), to(#1c1c1c));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#717171, EndColorStr=#1c1c1c);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.form-button-black:active,
.form-button-ignore:active,
.form-button-small.form-button-cancel:active, 
.form-button.form-button-cancel:active, 
.form-button-small.form-button-cancel-all:active, 
.form-button.form-button-cancel-all:active, 
.form-button-small.form-button-dont-save:active,
.form-button-small.form-button-dont-send:active,
.form-button.form-button-next:active,
.form-button.form-button-previous:active, 
.frame-view .form-button-tiny.form-button-follow:active{
  outline: 0 !important;
  outline-style: none !important;
  background: #333;
  background:-moz-linear-gradient(center top , #000000, #4f4f4f);
  background:-webkit-gradient(linear, left top, left bottom, from(#000000), to(#4f4f4f));
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#000000, EndColorStr=#4f4f4f);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
/* This removes the dotted focus border from input buttons */
button::-moz-focus-inner,
input::-moz-focus-inner,
button:focus::-moz-focus-inner,
input:focus::-moz-focus-inner,
input:active::-moz-focus-inner,
input:active::-moz-focus-inner
{
  border: none!important;
  outline: none !important;
  outline-style: none !important;
  -moz-outline: none !important;
}

/* end small buttons */

.form-button-small.form-button-login,
.form-button-small.form-button-login:hover,
.form-button-small.form-button-login:active {
  height: 25px;
  width: 48px;
  background-position: 0 0;
}

.form-button-small.form-button-cancel {
  width: 55px;
}

.form-button-cancel-all {
  width: 88px;
}

.form-button-save {
  width: 58px;
}

.form-button-save-continue {
  width: 145px;
  padding-right: 12px;
  margin-right: 0 !important;
}
#form-group-settings-save-continue-container:after,
#form-project-settings-save-continue-container:after,
#form-project-cover-save-container:after {
  top: 12px;
  right:11px;
}

.form-button-preview {
  width: 76px;
}

.form-button-close {
  width: 62px;
}
.form-button-select {
  width: 67px;
}

.form-button-previous {
  width: 76px;
  padding-right: 10px;
  padding-left: 20px;
  text-align: right;
}

input.form-button-previous {
  width: 96px;
}
.form-button-previous:after {
  top: 5px;
  left: 5px;
}

.form-button-next {
  width: 96px;
  padding-right: 10px;
  padding-left: 12px;
  text-align: left;
  margin-right:0 !important;
}
.form-button-next:after {
  top: 5px;
  right: 5px;
}
/* shared by project editor, group editor, profile editor, job editor */
#form-project-settings-next,
#form-group-settings-next,
#form-profile-info-next,
#form-jobeditor-description-controls #form-jobeditor-next,
#form-jobeditor-media-controls #form-jobeditor-next {
  width: 60px;
}
#form-project-settings-previous,
#form-group-settings-previous,
#form-profile-info-previous,
#form-jobeditor-media-controls #form-jobeditor-previous {
  width: 66px;
}

.form-button-post {
  width: 57px;
}

.form-button-reply {
  width: 62px;
}

.form-button-send {
  width: 59px;
}

.form-button-crop {
  width: 58px;
}

.form-button-send-invitations {
  width: 126px;
}
.form-button-send-invitations.form-button-small{
  width: 112px;
}

.form-button-recrop {
  width: 77px;

}

.form-button-skip-step {
  padding-left: 10px;
  padding-right: 22px;
  text-align: left;
}

#form-project-settings-skip-step-container:after,
#form-group-settings-skip-step-container:after {
  right: 20px;
}

.form-button-see-more {
  width: 101px;
}

.form-button-continue,
.form-button-continue-container {
  background-position: 0 0;
  width: 99px;
}

.form-button-continue-container {
  margin: auto !important;
}

.form-button-continue-container .form-button-continue {
  padding-right: 15px;
}

.button-left-arrow,
.button-right-arrow {
  z-index: 2;
}


/* Small buttons: Main sprite
****************************************/

.form-button-close.form-button-small {
  width: 48px;
}

.form-button-prev.form-button-small,
.form-button-previous.form-button-small {
  width: 59px;
}

.form-button-confirm.form-button-small {
  width: 61px;
}

.form-button-dont-save.form-button-small {
  width: 75px;
}

.form-button-next.form-button-small {
  width: 60px;
}

.form-button-publish.form-button-small {
  width: 59px;
}

.form-button-ignore.form-button-small {
  width: 53px;
}

.form-button-accept.form-button-small {
  width: 56px;
}

.form-button-deny.form-button-small {
  width: 46px;

}

.form-button-add.form-button-small {
  width: 40px;
}

.form-button-post.form-button-small {
  width: 43px;
}

.form-button-save.form-button-small {
  width: 46px;
}

.form-button-search.form-button-small {
  width: 57px;
}

.form-button-leave-page.form-button-small {
  width: 80px;
}

.form-button-continue-editing.form-button-small { /* unused? */
  width: 107px;
}

.form-button-tiny.form-button-sign-up { /* img */
  padding: 0;
  width: 58px;
  background-position: 0 0;
}

.form-button-tiny.form-button-sign-up:hover {
  background-position: -58px 0;
}

.form-button-tiny.form-button-post-job { /* img */
  padding: 0;
  background-position: 0 -17px;
  width: 58px;
}

.form-button-tiny.form-button-post-job:hover {
  background-position: -58px -17px;
}

.form-button-tiny.form-button-take-tour { /* img */
  padding: 0;
  width: 65px;
  background-position: -925px -120px;
}

.form-button-tiny.form-button-take-tour:hover {
  background-position: -925px -137px;
}

.form-button-join-now {
  width: 71px;
  padding: 0 10px 0 0;
}

#auth-login-request-invitation:after { /* login popup */
  top: 9px;
  right: 6px !important;
}

.form-button-tiny.form-button-join-now { /* img */
  background-position: 0 -34px;
  width:74px;
  padding: 0;
}

.form-button-tiny.form-button-join-now:hover { /* img */
  background-position:-74px -34px;
}

.form-button-take-tour.form-button-small { /* img */
  background-position: 0 -86px;
  height:26px;
  width:100px;
  padding: 0;
}

.form-button-take-tour.form-button-small:hover { /* img */
  background-position:-100px -86px;
}

.form-button-tiny.form-button-description, 
.form-button-tiny.form-button-project-info, 
.form-button-tiny.form-button-tools,
.form-button-tiny.form-button-description:hover,
.form-button-tiny.form-button-project-info:hover,
.form-button-tiny.form-button-tools:hover {
  display: block;
  height: 17px;
  cursor: pointer;
  width: 57px;
  color: #FFFFFF;
  font-size: 9.5px;
  line-height: 17px;
  padding-left: 5px;
  text-align: left;
  background: #424242 !important;
  filter: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px !important;
  -moz-border-radius:    4px !important;
  -o-border-radius:      4px !important;
  border-radius:         4px !important;
}
.form-button-tiny.form-button-description:hover,
.form-button-tiny.form-button-project-info:hover,
.form-button-tiny.form-button-tools:hover {
  background: #e5e5e5 !important;
  color: #000000;
}
.form-button-tiny.form-button-description:hover:after,
.form-button-tiny.form-button-project-info:hover:after,
.form-button-tiny.form-button-tools:hover:after {
  background-position: -10px -136px;
}

.form-button-tiny.form-button-project-info, 
.form-button-tiny.form-button-project-info:hover {   
  width: 56px;
}
.form-button-tiny.form-button-description, 
.form-button-tiny.form-button-description:hover {   
  width: 95px;
}

.form-button-tiny.form-button-description:after,
.form-button-tiny.form-button-project-info:after,
.form-button-tiny.form-button-tools:after {
  background-position: -10px -35px;
  width: 7px;
  height: 4px;
  right: 6px;
  top: 7px;
  -webkit-user-select:none;
  -moz-user-select:none;
}

.form-button-tiny.form-button-unfollow {
  width: 67px;
}

.form-button-tiny.form-button-follow,
.form-button-tiny.form-button-following {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-button-tiny.form-button-follow {
  color: #fff !important;
  width: 60px;
  padding-left: 0;
  text-rendering: optimizelegibility;
  text-align: center;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-button-tiny.form-button-follow.form-button-follow-all {
  width: 75px;
}


.form-button-tiny.form-button-follow.form-button-follow-on {
  width: 124px;
  text-transform: none;
  font-size: 10px !important;
  line-height: 17px;
}
.frame-view .form-button-tiny.form-button-follow {
  background-color: transparent; /* IE */
  background:#343434;
  filter: none; /* IE */
}

.frame-view .form-button-tiny.form-button-follow:hover {
  background:#424242;
}

.form-button-tiny.form-button-following {
  color: #2d2d2d !important;
}

.form-button-tiny.form-button-following,
.form-button-tiny.form-button-following:hover {
  width: 66px;
  padding-left: 19px;
  font-size: 9.5px !important;
  border: 1px solid #b6b6b6;
  font-weight: bold;
  line-height: 15px;
  height: 15px; /* to account for border */
  color: #000;
  text-shadow: none;
}

.form-button-tiny.form-button-following:after {
  width: 9px;
  height: 8px;
  background-position: -93px -268px;
  left: 4px;
  top: 4px;
}

.form-button-send.form-button-small {
  width: 47px;
}

.form-button-request-invitation.form-button-small {
  width: 116px;
}

.form-button-invite-via-email.form-button-small {
  width: 98px;
}

.form-button-save-settings {
  width: 111px;
}





/* account settings button css was here */

/* project editor button css was here */

/* inbox button css was here */

/* forum button css was here */

/* competition buttons css was here */

/* COnfirm Button for Network Form */

.form-button-submit {
  width: 72px;
}

#feature-queue-save {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.comment-form-post,
.competition .form-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.viral-button {
  display:block;
  width:20px;
  height:20px;
}

.viral-button.viral-button-twitter {
  background-position:0 -266px;
}

.viral-button.viral-button-facebook {
  background-position:-37px -130px;
}

.viral-button.viral-button-stumbleupon {
  background-position:-60px -266px;
}

.viral-button.viral-button-digg {
  background-position:-20px -266px;
}

.viral-button.viral-button-addthis { 
  background-position:-40px -266px;
}