/**
 * Reset all browsers to consistent base styles.
 *  - Legend styles do not inherit in IE.
 *  - Remember to define focus (:focus) and insert (ins) styles.
 *  - Tables still might require 'cellspacing="0"' in the markup.
 */
html{color:#000;background:#fff;}
legend{color:#000;}
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
ul,li,ol,dl,dt,dd,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;}
abbr,acronym,address,caption,cite,code,dfn,em,strong,th,var,
h1,h2,h3,h4,h5,h6{font-style:normal;font-weight:normal;font-variant:normal;}
input,textarea,select,optgroup,option,button{margin:0;padding:0;font-size:100%;background:#fff;}
input,textarea,select,optgroup,option,button{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%;}
body{line-height:1;}
ol,ul,li{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
