.texteditor-toolbar-separator,
.texteditor-toolbar-button,
.texteditor-toolbar-container .ui-selectmenu {
  display: block;
  border: 0;
  height: 25px;
}

.texteditor-toolbar-button,
.texteditor-toolbar-container .ui-selectmenu  {
  cursor: pointer;
}

.texteditor-toolbar-button.ui-state-disabled,
.texteditor-toolbar-container .ui-selectmenu.ui-state-disabled {
  cursor: default;
}

.texteditor-toolbar-container .ui-selectmenu.ui-state-disabled .ui-selectmenu-status {
  color: #666;
}

.texteditor-toolbar-row { margin-bottom: 8px; }

.texteditor-toolbar-button,
.texteditor-toolbar-container .ui-selectmenu {
  background: transparent url('/assets/img/project_editor/text-editor-new.png') no-repeat scroll 99999px 99999px;
  filter:none;
}

.texteditor-toolbar-separator,
.texteditor-toolbar-container .ui-selectmenu,
.texteditor-toolbar-button { 
  float: left; 
}

.texteditor-toolbar-separator {
  width: 5px;
  overflow: hidden;
  text-indent: -9999px; 
  font-size:0; 
  line-height:0;
  background-color: transparent;
}

.texteditor-toolbar-container .ui-selectmenu-status { 
  margin: 0;
}

.texteditor-toolbar-container .ui-selectmenu-icon { 
  display: none;
}

.texteditor-toolbar-container {
  padding: 10px 8px;
  background: #262626 url(/assets/img/site/bg-medium.png) repeat scroll 0 0
}


.texteditor-iframe-container {
  border:1px solid #6d6d6d;
  height: 500px;
}


.texteditor-toolbar-container .ui-selectmenu-status,
.texteditor-button-text {
  padding-top:4px;
  text-indent:6px;
  color: #FFF;
  text-decoration: none !important;
  line-height: 17px;
  font-size: 12px;
  overflow: hidden;
}

#texteditor-lineheight-button .ui-selectmenu-status {
  text-align: center;
  text-indent: 10px;
}

.texteditor-toolbar-container .ui-selectmenu-menu {
  height: 200px; 
  overflow-y: auto; 
  overflow-x: hidden;
}




/************** TEXT EDITOR SPRITE ****************/

/* Undo */
#texteditor-undo {
  width: 31px;
  background-position: 0  0;
}

#texteditor-undo:hover {
  background-position: 0  -55px;
}

/* impossible */
#texteditor-undo.ui-state-active {
  background-position: 0  -110px;
}

/* not in use */
#texteditor-undo.ui-state-disabled {
  background-position: 0  -165px;
}

/* Redo */
#texteditor-redo {
  width: 31px;
  background-position: -31px 0;
}

#texteditor-redo:hover {
  background-position: -31px -55px;
}

/* impossible */
#texteditor-redo.ui-state-active  {
  background-position: -31px -110px;
}

/* not in use */
#texteditor-redo.ui-state-disabled {
  background-position: -31px -165px;
}

/* Heading */
#texteditor-classname,
#texteditor-classname-button {
  width: 78px !important;
  background-position: -68px 0;
}

#texteditor-classname-button:hover {
  background-position: -68px -55px;
}

/* not in use */
#texteditor-classname-button.ui-state-active {
  background-position: -68px -110px;
}

/*not in use*/
#texteditor-classname-button.ui-state-disabled {
  background-position: -68px -165px;
}

/* Font Name */
#texteditor-superfontname,
#texteditor-fontname,
#texteditor-superfontname-button,
#texteditor-fontname-button {
  width: 140px !important;
  background-position: -146px 0;
}

#texteditor-superfontname-button:hover,
#texteditor-fontname-button:hover {
  background-position: -146px -55px;
}

/* not in use */
#texteditor-superfontname-button.ui-state-active,
#texteditor-fontname-button.ui-state-active {
  background-position: -146px -110px;
}

/* not in use */
#texteditor-superfontname-button.ui-state-disabled,
#texteditor-fontname-button.ui-state-disabled {
  background-position: -146px -165px;
}

#texteditor-superfontname-button .ui-selectmenu-status { width: 120px; }

/* Font Size */
#texteditor-fontsize, #texteditor-fontsize-button {
  width: 41px !important;
  background-position: -286px 0;
}

#texteditor-fontsize-button:hover {
  background-position: -286px -55px;
}

#texteditor-fontsize-button.ui-state-active {
  background-position: -286px -110px;
}

#texteditor-fontsize-button.ui-state-disabled {
  background-position: -286px -165px;
}

/* Line Height */
#texteditor-lineheight, #texteditor-lineheight-button {
  width: 51px !important;
  background-position: -334px 0;
}

#texteditor-lineheight-button:hover {
  background-position: -334px -55px;
}

#texteditor-lineheight-button.ui-state-active {
  background-position: -334px -110px;
}

/* not in use */
#texteditor-lineheight-button.ui-state-disabled {
  background-position: -334px -165px;
}

/* Foreground Color */
#texteditor-forecolor-swatch {
  display: none;
}
#texteditor-forecolor {
  width: 27px;
  background-position: -392px 0;
  background-color: transparent !important;
}

#texteditor-forecolor:hover {
  background-position: -392px -55px;
}

/* not in use */
#texteditor-forecolor.ui-state-active {
  background-position: -392px -110px;
}

/* not in use */
#texteditor-forecolor.ui-state-disabled {
  background-position: -392px -165px;
}


/* Background Color */
#texteditor-backcolor-swatch {
  display: none;
}
#texteditor-backcolor {
  width: 27px;
  background-position: -426px 0;
  background-color: transparent !important;
}

#texteditor-backcolor:hover {
  background-position: -426px -55px;
}

/* not in use */
#texteditor-backcolor.ui-state-active {
  background-position: -426px -110px;
}

/* not in use */
#texteditor-backcolor.ui-state-disabled {
  background-position: -426px -165px;
}

/* Underline (Single Button) */
#texteditor-underline {
  width: 27px;
  background-position: -460px 0;
}

#texteditor-underline:hover {
  background-position: -460px -55px;
}

#texteditor-underline.ui-state-active {
  background-position: -460px -110px;
}

/*not in use*/
#texteditor-underline.ui-state-disabled {
  background-position: -351px -165px;
}


/* Remove Format */
#texteditor-removeformat {
  width: 51px;
  background-position: -494px 0;
}

#texteditor-removeformat:hover {
  background-position: -494px -55px;
}

/* not in use and most likely impossible*/
#texteditor-removeformat.ui-state-active {
  background-position: -494px -110px;
}

/* not in use */
#texteditor-removeformat.ui-state-disabled {
  background-position: -494px -165px;
}

/* Create Link */
#texteditor-createlink {
  width: 31px;
  background-position: 0 -30px;
}

#texteditor-createlink:hover {
  background-position: 0 -85px;
}

#texteditor-createlink.ui-state-active {
  background-position: 0 -140px;
}

/* not in use */
#texteditor-createlink.ui-state-disabled {
  background-position: 0 -195px;
}

/* Remove Link */
#texteditor-removelink {
  width: 31px;
  background-position: -31px -30px;
}

#texteditor-removelink:hover {
  background-position: -31px -85px;
}

/* not in use */
#texteditor-removelink.ui-state-active {
  background-position: -31px -140px;
}

#texteditor-removelink.ui-state-disabled {
  background-position: -31px -195px;
}

/* Unordered List */
#texteditor-insertunorderedlist {
  width: 31px;
  background-position: -68px -30px;
}

#texteditor-insertunorderedlist:hover {
  background-position: -68px -85px;
}

#texteditor-insertunorderedlist.ui-state-active {
  background-position: -68px -140px;
}

#texteditor-insertunorderedlist.ui-state-disabled {
  background-position: -68px -195px;
}

/* Ordered List */
#texteditor-insertorderedlist {
  width: 30px;
  background-position: -99px -30px;
}

#texteditor-insertorderedlist:hover {
  background-position: -99px -85px;
}

#texteditor-insertorderedlist.ui-state-active {
  background-position: -99px -140px;
}

#texteditor-insertorderedlist.ui-state-disabled {
  background-position: -99px -195px;
}

/* Outdent */
#texteditor-outdent  {
  width: 31px;
  background-position: -136px -30px;
}

#texteditor-outdent:hover {
  background-position: -136px -85px;
}

#texteditor-outdent.ui-state-active {
  background-position: -136px -140px;
}

#texteditor-outdent.ui-state-disabled {
  background-position: -136px -195px;
}

/* Indent */
#texteditor-indent  {
  width: 30px;
  background-position: -167px -30px;
}

#texteditor-indent:hover {
  background-position: -167px -85px;
}

#texteditor-indent.ui-state-active {
  background-position: -167px -140px;
}

#texteditor-indent.ui-state-disabled {
  background-position: -167px -195px;
}

/* Alignment Left */
#texteditor-alignmentleft {
  width: 30px;
  background-position: -204px -30px;
}

#texteditor-alignmentleft:hover {
  background-position: -204px -85px;
}

#texteditor-alignmentleft.ui-state-active {
  background-position: -204px -140px;
}

#texteditor-alignmentleft.ui-state-disabled {
  background-position: -204px -195px;
}

/* Alignment Center */
#texteditor-alignmentcenter {
  width: 30px;
  background-position: -234px  -30px;
}

#texteditor-alignmentcenter:hover {
  background-position: -234px -85px;
}

#texteditor-alignmentcenter.ui-state-active {
  background-position: -234px -140px;
}

#texteditor-alignmentcenter.ui-state-disabled {
  background-position: -234px -195px;
}

/* Alignment Right */
#texteditor-alignmentright {
  width: 29px;
  background-position: -264px -30px;
}

#texteditor-alignmentright:hover {
  background-position: -264px -85px;
}

#texteditor-alignmentright.ui-state-active {
  background-position: -264px -140px;
}

#texteditor-alignmentright.ui-state-disabled {
  background-position: -264px -195px;
}


/* Bold (Joblist Editor) */
#texteditor-bold {
  width: 26px;
  background-position: -298px -30px;
}

#texteditor-bold:hover {
  background-position: -298px -85px;
}

#texteditor-bold.ui-state-active {
  background-position: -298px -140px;
}

#texteditor-bold.ui-state-disabled {
  background-position: -298px -195px;
}

/* Italic (Joblist Editor) */
#texteditor-italic {
  background-position: -324px -30px;
  width: 27px;
}

#texteditor-italic:hover {
  background-position: -324px -85px;
}

#texteditor-italic.ui-state-active {
  background-position: -324px -140px;
}

#texteditor-italic.ui-state-disabled {
  background-position: -324px -195px;
}

/* Underline (Tip Editor, Joblist Editor) */
#text-toolbar #texteditor-underline,
#descr_toolbar #texteditor-underline {
  width: 27px;
  background-position: -351px -30px;
}

#text-toolbar #texteditor-underline:hover,
#descr_toolbar #texteditor-underline:hover {
  background-position: -351px -85px;
}

#text-toolbar #texteditor-underline,.ui-state-active
#descr_toolbar #texteditor-underline.ui-state-active {
  background-position: -351px -140px;
}

#text-toolbar #texteditor-underline,.ui-state-disabled
#descr_toolbar #texteditor-underline.ui-state-disabled {
  background-position: -351px -195px;
}


/********* End of Text Editor Sprites **************/

.ui-selectmenu-menu.texteditor-toolbar-menu.ui-selectmenu-open:hover li.ui-selectmenu-item-selected a,
.ui-selectmenu-menu.texteditor-toolbar-menu  {
  background: transparent url('/assets/img/site/bg-trans-black.png') repeat 0 0;
  border: 0;
}

.ui-selectmenu-menu.texteditor-toolbar-menu li {
  margin: 0;
  padding:0;
  border-bottom: 1px solid #555;
}


.ui-selectmenu-menu.texteditor-toolbar-menu.ui-selectmenu-open:hover li.ui-selectmenu-item-selected a,
.ui-selectmenu-menu.texteditor-toolbar-menu a {
  position: relative;
  display: block;
  padding: 7px 20px 7px 7px;
  margin:0;
  color: #fff;
}

.ui-selectmenu-menu.texteditor-toolbar-menu.ui-selectmenu-open:hover li.ui-selectmenu-item-selected a:hover,
.ui-selectmenu-menu.texteditor-toolbar-menu a:hover {
  background: #03b7f9;
  background: -moz-linear-gradient(top center, #00a4fd, #216dec);
  background: -webkit-gradient(linear, left top,left bottom, from(#00a4fd), to(#216dec));
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#00a4fd, endColorStr=#216dec);
  text-decoration: none;
  color: #fff;
}

.texteditor-iframe-container iframe { 
  height: 100% !important;
}

/* Project Editor Only */
#moving-textarea-container {
  z-index: 1;
  width: 620px;
}

body.content-editor .texteditor-toolbar-subcont {
  width: 550px;
  margin: 0 auto;
}

/* Smaller Editor */
body.section-tips-edit .texteditor-toolbar-subcont { 
  width: 438px;
  overflow: hidden;
}

/* Fonts in Dropdown 
#texteditor-fontname-arial                           { font-family : arial,helvetica,sans-serif; }
#texteditor-fontname-arial-black               { font-family : "arial black",gadget,sans-serif; }
#texteditor-fontname-bookman-old-style   { font-family : "bookman old style","bookman old"; }
#texteditor-fontname-century-schoolbook { font-family : "century schoolbook",georgia,sans-serif; }
#texteditor-fontname-garamond                     { font-family : garamond,serif; }
#texteditor-fontname-georgia                       { font-family : georgia,"times new roman",times,serif; }
#texteditor-fontname-tahoma                         { font-family : tahoma,geneva, ans-serif; }
#texteditor-fontname-times-new-roman       { font-family : "times new roman",times,georgia,serif; }
#texteditor-fontname-trebuchet                   { font-family : "trebuchet ms",helvetica,sans-serif; }
#texteditor-fontname-verdana                       { font-family : verdana,geneva,sans-serif; }*/