/*TODO: get this into its own sprite */
.yui-push-button,
.yui-menu-button {
  display: block;
  background: transparent url('/assets/img/project_editor/text-editor-new.png') no-repeat scroll 99999px 99999px;
}

.yui-toolbar-forecolor .yui-toolbar-icon {
  background: transparent url(http: //yui.yahooapis.com/2.7.0/build/assets/skins/sam/editor-sprite.gif) no-repeat scroll 0px -216px !important;
  left: 5px;
}

.yui-toolbar-subcont h3 { display: none; }

.yui-toolbar-container {
  padding: 10px 8px;
  background: #262626 url(/assets/img/site/bg-medium.png) repeat scroll 0 0
}

.yui-toolbar-container fieldset, .yui-editor-container fieldset {
  border:0 none;
  margin:0;
  padding:0;
}

.yui-editor-editable-container {
  border:1px solid #6d6d6d;
}

.yui-toolbar-container legend,
.yui-editor-skipheader { display: none; }

.yui-toolbar-separator,
.yui-toolbar-container .yui-toolbar-group,
li.yui-toolbar-groupitem { 
  float: left; 
}

.yui-toolbar-group.yui-toolbar-group-insertitem {
  clear: both;
}

.yui-toolbar-separator {
  display: block;
  width: 5px;
  overflow: hidden;
  text-indent: -9999px; font-size:0; line-height:0;
  background-color: transparent;
}

.yui-push-button,
.yui-menu-button{
  width: 30px;
  display: block;
}

.yui-button a{
  text-indent: -99999px; font-size:0; line-height:0;
  display: block;
  overflow: hidden;
}

.yui-button a,
.yui-push-button,
.yui-menu-button,
.yui-toolbar-separator,
.yui-toolbar-group,
.yui-toolbar-groupitem {
  height: 25px;
  margin-bottom: 8px;
}

.yui-button a,
.yui-push-button,
.yui-menu-button,
.yui-toolbar-groupitem,
.yui-button.yui-push-button,
.yui-toolbar-group .yui-toolbar-separator {
  margin-bottom: 0px;
}

.yui-toolbar-heading .first-child a,
.yui-toolbar-superfontname .first-child a,
.yui-toolbar-fontname .first-child a,
.yui-toolbar-fontsize .first-child a,
.yui-toolbar-lineheight .first-child a {
  padding-top:3px;
  text-indent:6px;
  color: #FFF;
  text-decoration: none !important;
  line-height: 17px;
  font-size: 12px;
}
.yui-toolbar-lineheight .first-child a {
  text-align: center;
  text-indent: 10px;
}

.yui-toolbar-superfontname-menu.yui-toolbar-select-menu.visible,
.yui-toolbar-fontsize-menu.yui-toolbar-select-menu.visible,
.yui-toolbar-lineheight-menu.yui-toolbar-select-menu.visible {
  height: 200px; 
  overflow-y: auto; 
  overflow-x: hidden;
}
.yui-toolbar-fontsize-menu.yui-toolbar-select-menu {
  width: 58px;
}
.yui-toolbar-lineheight-menu.yui-toolbar-select-menu.visible {
  width: 51px;
}

.yui-menu-button-disabled .first-child a,
.yui-push-button-disabled .first-child a {
  color: #666;
  cursor: default !important;
}

.yui-button.yui-toolbar-fontsize .first-child a {
  cursor: default;
}

.yui-button.yui-push-button .up,
.yui-button.yui-push-button .down {
  position: relative;
  height: 7px;
  width: 8px;
  margin-left: 25px;
}

.yui-button.yui-push-button .up {
  margin-top: -24px;
  margin-bottom: 1px;
}

/************** TEXT EDITOR SPRITE ****************/

/* Undo */
.yui-toolbar-undo {
  width: 31px;
  background-position: 0  0;
}

.yui-toolbar-undo:hover {
  background-position: 0  -55px;
}

.yui-button-selected.yui-toolbar-undo {
  background-position: 0  -110px;
}

.yui-push-button-disabled.yui-toolbar-undo {
  background-position: 0  -165px;
}

/* Redo */
.yui-toolbar-redo {
  width: 31px;
  background-position: -31px 0;
}

.yui-toolbar-redo:hover {
  background-position: -31px -55px;
}

.yui-button-selected.yui-toolbar-redo {
  background-position: -31px -110px;
}

.yui-push-button-disabled.yui-toolbar-redo {
  background-position: -31px -165px;
}

/* Heading */
.yui-toolbar-heading {
  width: 78px;
  background-position: -68px 0;
}

.yui-toolbar-heading:hover {
  background-position: -68px -55px;
}

.yui-menu-button-selected.yui-toolbar-heading {
  background-position: -68px -110px;
}

.yui-menu-button-disabled.yui-toolbar-heading {
  background-position: -68px -165px;
}

/* Font Name */
.yui-toolbar-superfontname,
.yui-toolbar-fontname {
  width: 140px;
  background-position: -146px 0;
}

.yui-toolbar-superfontname:hover,
.yui-toolbar-fontname:hover {
  background-position: -146px -55px;
}

.yui-menu-button-selected.yui-toolbar-superfontname,
.yui-menu-button-selected.yui-toolbar-fontname {
  background-position: -146px -110px;
}

.yui-menu-button-disabled.yui-toolbar-superfontname,
.yui-menu-button-disabled.yui-toolbar-fontname {
  background-position: -146px -165px;
}

/* Font Size */
.yui-toolbar-fontsize {
  width: 41px;
  background-position: -286px 0;
}

.yui-toolbar-fontsize:hover {
  background-position: -286px -55px;
}

.yui-menu-button-selected.yui-toolbar-fontsize {
  background-position: -286px -110px;
}

.yui-button-disabled.yui-toolbar-fontsize {
  background-position: -286px -165px;
}

/*
  .yui-button-disabled.yui-toolbar-fontsize .down,
  .yui-button-disabled.yui-toolbar-fontsize .up {
    cursor: default;
  }
*/

/* Line Height */
.yui-toolbar-lineheight {
  width: 51px;
  background-position: -334px 0;
}

.yui-toolbar-lineheight:hover {
  background-position: -334px -55px;
}

.yui-menu-button-selected.yui-toolbar-lineheight {
  background-position: -334px -110px;
}

.yui-menu-button-disabled.yui-toolbar-lineheight {
  background-position: -334px -165px;
}

/* Foreground Color */
.yui-toolbar-forecolor {
  width: 27px;
  background-position: -392px 0;
}

.yui-toolbar-forecolor:hover {
  background-position: -392px -55px;
}

.yui-button-selected.yui-toolbar-forecolor {
  background-position: -392px -110px;
}

.yui-push-button-disabled.yui-toolbar-forecolor {
  background-position: -392px -165px;
}

.yui-toolbar-backcolor {
  width: 27px;
  background-position: -426px 0;
}

/* Background Color */
.yui-toolbar-backcolor:hover {
  background-position: -426px -55px;
}

.yui-button-selected.yui-toolbar-backcolor {
  background-position: -426px -110px;
}

.yui-push-button-disabled.yui-toolbar-backcolor {
  background-position: -426px -165px;
}

/* Underline (Single Button) */
.yui-toolbar-underline {
  width: 27px;
  background-position: -460px 0;
}

.yui-toolbar-underline:hover {
  background-position: -460px -55px;
}

.yui-button-selected.yui-toolbar-underline {
  background-position: -460px -110px;
}

.yui-push-button-disabled.yui-toolbar-underline {
  background-position: -351px -165px;
}


/* Remove Format */
.yui-toolbar-removeformat {
  width: 51px;
  background-position: -494px 0;
}

.yui-toolbar-removeformat:hover {
  background-position: -494px -55px;
}

.yui-button-selected.yui-toolbar-removeformat {
  background-position: -494px -110px;
}

.yui-push-button-disabled.yui-toolbar-removeformat {
  background-position: -494px -165px;
}

/* Create Link */
.yui-toolbar-createlink {
  width: 31px;
  background-position: 0 -30px;
}

.yui-toolbar-createlink:hover {
  background-position: 0 -85px;
}

.yui-button-selected.yui-toolbar-createlink {
  background-position: 0 -140px;
}

.yui-push-button-disabled.yui-toolbar-createlink {
  background-position: 0 -195px;
}

/* Remove Link */
.yui-toolbar-removealink {
  width: 31px;
  background-position: -31px -30px;
}

.yui-toolbar-removealink:hover {
  background-position: -31px -85px;
}

.yui-button-selected.yui-toolbar-removealink {
  background-position: -31px -140px;
}

.yui-push-button-disabled.yui-toolbar-removealink {
  background-position: -31px -195px;
}

/* Unordered List */
.yui-toolbar-insertunorderedlist {
  width: 31px;
  background-position: -68px -30px;
}

.yui-toolbar-insertunorderedlist:hover {
  background-position: -68px -85px;
}

.yui-button-selected.yui-toolbar-insertunorderedlist {
  background-position: -68px -140px;
}

.yui-push-button-disabled.yui-toolbar-insertunorderedlist {
  background-position: -68px -195px;
}

/* Ordered List */
.yui-toolbar-insertorderedlist {
  width: 30px;
  background-position: -99px -30px;
}

.yui-toolbar-insertorderedlist:hover {
  background-position: -99px -85px;
}

.yui-button-selected.yui-toolbar-insertorderedlist {
  background-position: -99px -140px;
}

.yui-push-button-disabled.yui-toolbar-insertorderedlist {
  background-position: -99px -195px;
}

/* Outdent */
.yui-toolbar-outdent  {
  width: 31px;
  background-position: -136px -30px;
}

.yui-toolbar-outdent:hover {
  background-position: -136px -85px;
}

.yui-button-selected.yui-toolbar-outdent {
  background-position: -136px -140px;
}

.yui-push-button-disabled.yui-toolbar-outdent {
  background-position: -136px -195px;
}

/* Indent */
.yui-toolbar-indent  {
  width: 30px;
  background-position: -167px -30px;
}

.yui-toolbar-indent:hover {
  background-position: -167px -85px;
}

.yui-button-selected.yui-toolbar-indent {
  background-position: -167px -140px;
}

.yui-push-button-disabled.yui-toolbar-indent {
  background-position: -167px -195px;
}

/* Justify Left */
.yui-toolbar-justifyleft {
  width: 30px;
  background-position: -204px -30px;
}

.yui-toolbar-justifyleft:hover {
  background-position: -204px -85px;
}

.yui-button-selected.yui-toolbar-justifyleft {
  background-position: -204px -140px;
}

.yui-push-button-disabled.yui-toolbar-justifyleft {
  background-position: -204px -195px;
}

/* Justify Center */
.yui-toolbar-justifycenter {
  width: 30px;
  background-position: -234px  -30px;
}

.yui-toolbar-justifycenter:hover {
  background-position: -234px -85px;
}

.yui-button-selected.yui-toolbar-justifycenter {
  background-position: -234px -140px;
}

.yui-push-button-disabled.yui-toolbar-justifycenter {
  background-position: -234px -195px;
}

/* Justify Right */
.yui-toolbar-justifyright {
  width: 29px;
  background-position: -264px -30px;
}

.yui-toolbar-justifyright:hover {
  background-position: -264px -85px;
}

.yui-button-selected.yui-toolbar-justifyright {
  background-position: -264px -140px;
}

.yui-push-button-disabled.yui-toolbar-justifyright {
  background-position: -264px -195px;
}


/* Bold (Joblist Editor) */
.yui-toolbar-bold {
  width: 26px;
  background-position: -298px -30px;
}

.yui-toolbar-bold:hover {
  background-position: -298px -85px;
}

.yui-button-selected.yui-toolbar-bold {
  background-position: -298px -140px;
}

.yui-push-button-disabled.yui-toolbar-bold {
  background-position: -298px -195px;
}

/* Italic (Joblist Editor) */
.yui-toolbar-italic {
  background-position: -324px -30px;
  width: 27px;
}

.yui-toolbar-italic:hover {
  background-position: -324px -85px;
}

.yui-button-selected.yui-toolbar-italic {
  background-position: -324px -140px;
}

.yui-push-button-disabled.yui-toolbar-italic {
  background-position: -324px -195px;
}

/* Underline (Tip Editor, Joblist Editor) */
#text-toolbar .yui-toolbar-underline,
#descr_toolbar .yui-toolbar-underline {
  width: 27px;
  background-position: -351px -30px;
}

#text-toolbar .yui-toolbar-underline:hover,
#descr_toolbar .yui-toolbar-underline:hover {
  background-position: -351px -85px;
}

#text-toolbar .yui-button-selected.yui-toolbar-underline,
#descr_toolbar .yui-button-selected.yui-toolbar-underline {
  background-position: -351px -140px;
}

#text-toolbar .yui-push-button-disabled.yui-toolbar-underline,
#descr_toolbar .yui-push-button-disabled.yui-toolbar-underline {
  background-position: -351px -195px;
}


/********* End of Text Editor Sprites **************/

ul.first-of-type {
  background: transparent url('/assets/img/site/bg-trans-black.png') repeat 0 0;
}

ul.first-of-type li {
  margin: 0;
  border-bottom: 1px solid #555;
}

ul.first-of-type a {
  position: relative;
  display: block;
  padding: 7px 20px 7px 7px;
  color: #fff;
}

ul.first-of-type a:hover {
  background: #03b7f9;
  background: -moz-linear-gradient(top center, #00a4fd, #216dec);
  background: -webkit-gradient(linear, left top,left bottom, from(#00a4fd), to(#216dec));
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#00a4fd, endColorStr=#216dec);
  text-decoration: none;
}

/* Project Editor Only */
body.content-editor .yui-editor-container {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 1;
}

body.content-editor .yui-toolbar-subcont {
  width: 535px;
  height: 58px;
  margin: 0 auto;
}

/* Smaller Editor */
body.section-tips-edit .yui-toolbar-subcont { 
  width: 438px;
  height: 29px;
  overflow: hidden;
}

/* Fonts in Dropdown */
.yui-toolbar-fontname-arial                           { font-family : arial,helvetica,sans-serif; }
.yui-toolbar-fontname-arial-black               { font-family : "arial black",gadget,sans-serif; }
.yui-toolbar-fontname-bookman-old-style   { font-family : "bookman old style","bookman old"; }
.yui-toolbar-fontname-century-schoolbook { font-family : "century schoolbook",georgia,sans-serif; }
.yui-toolbar-fontname-garamond                     { font-family : garamond,serif; }
.yui-toolbar-fontname-georgia                       { font-family : georgia,"times new roman",times,serif; }
.yui-toolbar-fontname-tahoma                         { font-family : tahoma,geneva, ans-serif; }
.yui-toolbar-fontname-times-new-roman       { font-family : "times new roman",times,georgia,serif; }
.yui-toolbar-fontname-trebuchet                   { font-family : "trebuchet ms",helvetica,sans-serif; }
.yui-toolbar-fontname-verdana                       { font-family : verdana,geneva,sans-serif; }