        ATTRS: {
            transitions: {
                value: true
            },

            apiConfig: {
                value: {
                    api_key: '0c13dc70aa7eb3df87b3fee5caf37080',
                    method: 'flickr.photos.search',
                    safe_search: 1,
                    sort: 'relevance',
                    format: 'json',
                    license: 4,
                    per_page: 20
                }
            }
        }
