    FlickrSearch.Image = Y.Base.create('image-model', Y.Model, []);

    FlickrSearch.ImageList = Y.Base.create('image-list', Y.ModelList, [], {
        model: FlickrSearch.Image
    });

    FlickrSearch.ImageView = Y.Base.create('image-view', Y.View, [], {
        containerTemplate: '<li></li>',

        image: '<img src="http://farm{farm}.staticflickr.com/{server}/{id}_{secret}_q.jpg">',

        initializer: function () {
            var model = this.get('model');
            model.after('change', this.render, this);
        },

        render: function () {
            var container = this.get('container'),
                model = this.get('model');

            container.setHTML(Y.Lang.sub(this.image, model.toJSON()));

            return this;
        }
    });

