{{>search-css-styles}}
{{>search-html-markup}}
<script>
YUI().use('model', 'model-list', 'view', 'widget', 'paginator', 'node', 'jsonp', 'querystring', 'cssbutton', 'transition', function (Y) {
{{>search-js-vars}}
{{>search-js-image}}
{{>search-js-page}}
{{>search-js-paginator}}
{{>search-js-app-start}}
{{>search-js-app-prot}}
{{>search-js-app-middle}}
{{>search-js-app-attrs}}
{{>search-js-app-end}}
{{>search-js-begin}}
});
</script>







