
    // we want to pause when we mouse over the slide show
    // and resume when we mouse out
    spiffy.on('hover', function (e) {
        autoPlay.pause()
    }, function (e) {
        autoPlay.resume()
    });
