    pg.after('pageChange', function (e) {
        showPage(e.newVal);
        updateControls();
    });

    pg.after('itemsPerPageChange', function () {
        showPage();
        updateControls();
    });
