<table>
    <caption>
        2010 US Population <em>(according to <a href="http://www.census.gov/2010census/" target="_blank">census.gov</a>)</em>
    </caption>
    <thead>
        <tr>
            <th></th>
            <th>State</th>
            <th>Abbr</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="controls">
    <ul>
        <li class="control-first"><a class="control" data-type="first">First</a></li>
        <li class="control-prev"><a class="control" data-type="prev">Prev</a></li>
        <li class="control-next"><a class="control" data-type="next">Next</a></li>
        <li class="control-last"><a class="control" data-type="last">Last</a></li>
    </ul>
    <div class="currentPage"></div>
    <div class="rowsPerPage">
        Items Per Page:
        <select class="perPage">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="-1">Show All</option>
        </select>
    </div>
</div>
