    <div id='dialog'></div>
    <div id='test-controls'>
        <ul id="radios">
            Dialog type: 
            <li><input id="info" value="icon-info" name="dialog-types" type="radio"/> <label for="info">Information</label></li>
            <li><input id="warn" value="icon-warn" name="dialog-types" type="radio" checked="checked"/> <label for="warn">Warning</label></li>
            <li><input id="error" value="icon-error" name="dialog-types" type="radio"/> <label for="error">Error</label></li>
            <li><input id="question" value="icon-question" name="dialog-types" type="radio"/> <label for="question">Question</label></li>
            <li><input id="bubble" value="icon-bubble" name="dialog-types" type="radio"/> <label for="bubble">Bubble</label></li>
            <li><input id="success" value="icon-success" name="dialog-types" type="radio"/> <label for="success">Success</label></li>
            <li><input id="none" value="icon-none" name="dialog-types" type="radio"/> <label for="none">No icon</label></li>
        </ul>
        <div>Message Text:</div>
        <textarea>Are you sure you want to [take some action]?</textarea>
        <br>
        <button class='yui3-button btn-show'>Show Dialog</button>
    </div>
