#test-controls #radios {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
}
#test-controls #code, #code-function{
    margin-bottom: 1em;
    font-family: courier new;
    font-size: 70%;
}
#test-controls textarea{
    margin-bottom: 1em;
    width: 52em;
    height: 3em;
}

#test-controls .btn-show{
    /*margin-bottom: 5em;*/
}
#test-controls ul{
    margin: 0;
}
