#desc {
    margin-bottom: 20px;
    border-bottom: 1px dotted #333;
}
#desc span {
    background: #a3350d;
    padding :2px;
    color:# f27243;
}

.yui3-panel {
    outline: none;
}
.yui3-panel-content .yui3-widget-hd {
    font-weight: bold;
}
.yui3-panel-content .yui3-widget-bd {
    padding: 15px;
}
.yui3-panel-content label {
    margin-right: 30px;
}
.yui3-panel-content fieldset {
    border: none;
    padding: 0;
}
.yui3-panel-content input[type="text"] {
    border: none;
    border: 1px solid #ccc;
    padding: 3px 7px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 100%;
    width: 200px;
}

#addRow {
    margin-top: 10px;
}

#dt {
    margin-left: 1em;
}

#dt th, #dt td {
    border: 0 none;
    border-left: 1px solid #cbcbcb;
}
