
.yui3-panel {
    outline: none;
}

.yui3-panel #panelContent {
    -webkit-box-shadow: 0px 0px 2px black;
    -moz-box-shadow: 0px 0px 2px black;
    box-shadow: 0px 0px 2px black;
}
.yui3-panel #panelContent .yui3-widget-hd {
    font-weight: bold;
    padding: 5px;
}

#panelContent .yui3-widget-bd {
    padding: 15px;
    background: white;
    text-align: center;
}


.yui3-skin-sam .yui3-widget-mask {
    background-color: #223460;
    opacity: 0.9;
}
