<div class="intro">
<p>This example makes multiple sortable lists that are separate from one another and do not interact with each other.</p>
</div>

<div class="example">
    {{>sortable-multi-source}}
</div>

{{>sortable-multi-base}}
