<div class="intro">
<p>This example makes multiple sortable lists that are separate from one another and do not interact with each other.</p>
</div>

<div class="example">
    <style>
    {{>sortable-multi-source-css}}
    {{>sortable-indent-css}}
    </style>
    
    {{>sortable-multi-source-indent-html}}
    
    <script>
    {{>sortable-multi-source-js-pre}}
    {{>sortable-multi-source-js-post}}
    </script>
</div>


{{>sortable-multi-base}}

