.yui3-skin-sam .yui3-scrollview-paginator {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -moz-tap-highlight-color: rgba(0,0,0,0);
}

.yui3-skin-sam .yui3-scrollview-paginator-page { 
    background: #666; 
    margin-right: 8px;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; 
}

.yui3-skin-sam .yui3-scrollview-paginator-page.yui3-scrollview-active { 
    background: #fff; 
}