<button id="myPushButton">This push button</button>
<p>can toggle the `pressed` attribute of</p>
<button id="myToggleButton">this depressed button :(</button>

<style>
.example {
    text-align:center;
}
.example .yui3-button{
    width: 200px;
}
</style>
