<button id="myPushButton">This push button</button>
<p>can toggle the `selected` state of</p>
<button id="myToggleButton">this unselected button</button>

<style>
.example {
    text-align:center;
}
.example .yui3-button{
    width: 200px;
}
</style>