<h4>Tags</h4>
<a class='yui3-button'>&lt;a&gt;</a>
<div class='yui3-button'>&lt;div&gt;</div>
<span class='yui3-button'>&lt;span&gt;</span>
<button class='yui3-button'>&lt;button&gt;</button>
<button class='yui3-button yui3-button-disabled' disabled>&lt;button&gt; Disabled</button>

<h4>Colors</h4>
<button class='yui3-button success'>.success <br> #57A957</button>
<button class='yui3-button warning'>.warning <br> #FAF55F</button>
<button class='yui3-button error'>.error <br> #C43C35</button>
<button class='yui3-button notice'>.notice <br> #1B7AE0</button>

<h4>Icon Buttons</h4>
<button class="yui3-button">
    <span class="yui3-button-icon yui3-button-icon-bold"></span><strong>old</strong>
</button>

<button class="yui3-button">
    <span class="yui3-button-icon yui3-button-icon-italic"></span><em>talic</em>
</button>

<button class="yui3-button">
    <span class="yui3-button-icon yui3-button-icon-underline"></span>nderline
</button>

<h4>Image Button</h4>
<input class="yui3-button" type='image' id='imageButton' src="{{componentAssets}}/yui-logo.png"></input>

<h4>Additional CSS3 styles</h4>
<div class='yui3-button shadow'>Text Shadow</div>
