.warning{
    background-color:#FAF55F;
}

.success{
    background-color:#57A957;
    color:white;
}

.error{
    background-color:#C43C35;
    color:white;
}

.notice{
    background-color:#1B7AE0;
    color:white;
}

#buttonB{
    background-color:#1B7AE0;
    color:white;
}

#buttonC{
    background-color:#FAF55F;
    color:black;
}

#buttonD{
    background-color:#C91CD9;
    color:white;
}

.buttonE{
    background-color:#E30202;
    color:white;
}

.yui3-button{
    margin: 5px;
    padding: 15px;
}

.yui3-button-icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
    background-image: url("{{componentAssets}}/icon-sprite-dark-and-light-24.png");
}

.yui3-button-icon-bold {
    background-position: 1px -1px;
}

.yui3-button-icon-italic {
    background-position: 1px -37px;
}

.yui3-button-icon-underline {
    background-position: 1px -73px;
}

.shadow{
    text-shadow: #333 6px -2px 2px;
}