<button id="myButton">Push Button</button>
<button id="myDisabledButton">Disabled Button</button>
<button id="myEventButton">Event Button</button>
<button id="myToggleButton">Toggle Button: Unselected</button>