<div id="demo" class="yui3-skin-sam">
<div id="mycalendar"></div>
<br>
<a href="#" id="togglePrevMonth">Toggle Show Previous Month</a><br>
<a href="#" id="toggleNextMonth">Toggle Show Next Month</a><br>
</div>
<script type="text/javascript">
YUI({
    filter: 'RAW',
    debug: true
}).use('calendar',  function(Y) {
               
    var calendar = new Y.Calendar({
      contentBox: "#mycalendar",
      height:'200px',
      width:'600px',
      showPrevMonth: true,
      showNextMonth: true,
      date: new Date(2011, 07, 01)}).render();

    Y.log(calendar.get("date"));

    Y.one("#togglePrevMonth").on('click', function () {
      calendar.set('showPrevMonth', !(calendar.get("showPrevMonth")));      
    });
    Y.one("#toggleNextMonth").on('click', function () {
      calendar.set('showNextMonth', !(calendar.get("showNextMonth")));      
    });
});
</script>
