<div id="demo" class="yui3-module">
    <div class="yui3-hd">
        <h3>Easing Effects</h3>
        <a title="collapse element" class="yui3-toggle"><em>-</em></a>
    </div>
    <div class="yui3-bd">
        <p>Click the icon in the header to shrink the element's height to zero with the "backIn" effect.</p>
    </div>
</div>
<p>This is placeholder text used to demonstrate how the above animation affects subsequent content.</p> 
