<div id="demo" class="yui3-module">
    <div class="yui3-hd">
        <h3>Reversing an Animation</h3>
    </div>
    <div class="yui3-bd">
        <p>Click the icon in the header to toggle the element's height.</p>
    </div>
</div>
<p>This is placeholder text used to demonstrate how the above animation affects subsequent content.</p> 
