.panel {
    border:1px solid #D9D9D9;
    margin:0 0 1em 0;
}

.panel .hd {
    background:url(../assets/gradient-mod.png) repeat-x 0 0;
    font-weight:normal;
    font-size:108%;
    padding:5px;
    color:#89B31F;
}

.panel .bd {
    padding:5px;
}

#selectedModules .bd, #resources .bd {
    padding:0px;
    border:1px solid #aaa;
    height:15em;
    overflow:auto;
    font-size:85%;
}

#loaderOutput {
    font-family:monospace;
    width:100%;
    height:100%;
    _height:15em; /* Using abs. height due to IE6 */
    background-color:#fff;
    border:0;
    margin:0;
    padding:0;
}

#resources .bd {
    overflow:hidden;
}

#selectedModules ol {
    padding-left:5px;
    font-size:108%;
}

#selectedModules li, #selectedModules li p {
    margin-bottom:.2em;
    padding:2px;
    position:relative;
}

#selectedModules li p {
    font-weight:bold;
    zoom:1;
}

#selectedModules li p .size {
    font-weight:normal;
    font-size:85%;
    display:block;
    position:absolute;
    right:2px;
    top:2px;
    zoom:1;
}

#selectedModules .selected {
    background-color:#426fd9;
}

#selectedModules .selected p {
    color:#fff;
}

#selectedModules .dependency {
    background-color:#edff9f;
}

#selectedModules .rollup {
}

#selectedModules .submods {
    margin-left:1em; 
    font-weight:normal;
    font-size:85%;
}

#modInfo li {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

#configurator .yui-content {
    padding:10px;
    background-color:#fff;
}

#configurator .yui-nav li {
    white-space:nowrap;
}

#configurator .yui-nav li em {
    font-style:normal;    
}

#configurator .yui-nav li.selected a {
    color:#fff;    
}

#configurator .yui-nav li.selected a:hover {
    color:#fff;
    text-decoration:none;
}

#configurator .yui-nav li a {
    color:#000;    
}

#configurator .yui-nav li a:hover {
    color:#000;
    text-decoration:none;
}

#modPanel .modGroupHd {
    border-bottom:1px solid #D9D9D9;
    font-weight:normal;
    text-transform:uppercase;
    color:#666;
    font-size:85%;
    margin:6px;
    padding:4px 5px 4px 0pt;
}

.modList {
    margin: 0.5em;
}

.modList li .yui-button {
    vertical-align:middle;
}

.modList li.yui-hover {
    background-color:#edff9f;
    color:#ffffff;
    cursor:pointer;
}

#subMods.modList li.yui-hover {
    cursor:auto;
}

.modList .hasSubModules {
    background:url(assets/rt-arrow-large.png) no-repeat 99% 50%;
}

.modList li .size {
    font-size:85%;
    color:#aaa;
}

#modPanel .bd, #subModPanel .bd {
    position:relative;
    overflow:auto;
    height:30em;
}

#modDesc {
    border:1px solid #000;
    background-color: #edff9f;
    padding:5px;
    font-size:85%;
}

#desc-unit-ie6 {
    _width: 31%;
}

#modDesc .hd {
    font-weight:bold;
    font-size:108%;
}

#modDesc.yui-hidden {
    display:none;
}

#configOpts {
    margin-top:2em;
}

#configOpts label {
    margin-right: 2em;
}

#chart {
    height:20em;
}

.yui-force-redraw {
    padding:1px;
}

.modList .yui-button button { 
    display: block; 
    white-space: nowrap; 
    width: 10em; 
    text-align:left;
    overflow: hidden; 
    text-overflow: ellipsis; 
}
