.panel {
    border:1px solid #D9D9D9;
    margin:0 0 1em 0;
}

.panel .hd {
    background:url(../assets/gradient-mod.png) repeat-x 0 0;
    font-weight:normal;
    font-size:108%;
    padding:5px;
    padding-right:0;
    color:#89B31F;
}

.panel .bd {
    padding:5px;
    padding-right:0;
}

#resources .bd {
    padding-right:5px;
}

#loaderOutput {
    font-family:monospace;
    font-size:85%;
    width:100%;
    background-color:#fff;
    border:1px solid #000;
}

#configurator li {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

#modPanel .modGroupHd {
    border-bottom:1px solid #D9D9D9;
    font-weight:normal;
    text-transform:uppercase;
    color:#666;
    font-size:85%;
    margin:6px;
    padding:4px 5px 4px 0pt;
}

.modList {
    margin: 0.5em;
}

.modList li .yui-button {
    vertical-align:middle;
}

.modList li.yui-hover {
    background-color:#edff9f;
    color:#ffffff;
    cursor:pointer;
}

#subMods.modList li.yui-hover {
    cursor:auto;
}

.modList .hasSubModules {
    background:url(assets/rt-arrow-large.png) no-repeat 99% center;
}

.modList li .size {
    font-size:85%;
    color:#aaa;
}

#modPanel .bd, #subModPanel .bd {
    position:relative;
    overflow:auto;
    height:30em;
}

#modDesc {
    border:1px solid #000;
    background-color: #edff9f;
    padding:5px;
    font-size:85%;
}

#desc-unit-ie6 {
    _width: 31%;
}

#modDesc .hd {
    font-weight:bold;
    font-size:108%;
}

#modDesc.yui-hidden {
    display:none;
}

#config label {
    margin-right: 2em;
}

#chart {
    height:20em;
}
