.yui3-skin-sam .yui3-widget-mask {
    background-color: black;
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.yui3-skin-sam .yui3-panel-content {
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    border: 1px solid black;
    background: white;
}
.yui3-skin-sam .yui3-panel-content .yui3-widget-hd {
    padding: 8px 28px 8px 8px;  /* Room for close button. */
    min-height: 13px;           /* For the close button */
    _height: 13px;              /* IE6 */
    color: white;
    background-color: #3961c5;
    background: -moz-linear-gradient(
        0% 100% 90deg,
        #2647a0 7%,
        #3d67ce 50%,
        #426fd9 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#2647a0),
        color-stop(0.07, #2647a0),
        color-stop(0.5, #3d67ce),
        to(#426fd9)
    );
    /*
    TODO: Add support for IE and W3C gradients
    */
}
.yui3-skin-sam .yui3-panel-content .yui3-widget-hd .yui3-widget-button-wrapper {
    padding: 8px;
}
.yui3-skin-sam .yui3-panel-content .yui3-widget-bd {
    padding: 10px;
}
.yui3-skin-sam .yui3-panel-content .yui3-widget-ft {
	background: #EDF5FF;
	padding: 8px;
    text-align: right;
}
