<style>
#yconsole {
    text-align: right;
}

#demo .first button {
    margin-bottom: 2em;
}

#demo .yui3-console .yui3-console-title {
    border: 0 none;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    text-transform: none;
}
#demo .yui3-console .yui3-console-entry-meta {
    margin: 0;
}

.clr {
    clear: both;
}
</style>
