<div class="intro">
<p>The Modal plugin is a widget-level plugin that allows widgets to render modally. The modal widget recieves mouse and tab focus until it is closed.</p>
</div>

{{>getting-started}}


<h4 id="simple">Making a modal overlay</h4>
<p>A modal overlay can be created by plugging in the <code>Y.Plugin.Modal</code> plugin to the overlay instance, or passing it in via the config object:</p>

```
YUI().use('overlay', 'widget-modality', function(Y) {
    var overlay = new Y.Overlay({
        width:400,
        bodyContent: 'A Modal Overlay',
        visible:true
    });

    overlay.plug(Y.Plugin.Modal);
    overlay.render('#overlayContainer');
});
```

<h4 id="widgets">Making widgets modal</h4>
<p>Since <code>Y.Plugin.Modal</code> is a plugin at the widget level, all standard widgets built using YUI3 can be used as a host. Here, we make a modal YUI3 chart:</p>

```
YUI().use('chart', 'widget-modality', function(Y) {
    var myDataValues = [ 
         {category:"5/1/2010", values:2000}, 
         {category:"5/2/2010", values:50}, 
         {category:"5/3/2010", values:400}, 
         {category:"5/4/2010", values:200}, 
         {category:"5/5/2010", values:5000}
     ];

     var mychart = new Y.Chart({dataProvider:myDataValues, plugins: [Y.Plugin.Modal]});
     mychart.render('#container');
});
```

<h4 id="nesting">Nested Modality</h4>
<p>The modality plugin supports nested modality. For instance, you can launch a modal overlay, that launches another modal overlay within it. The plugin will adjust focus and move the modal mask around the DOM as required.</p>


