.yui3-scrollview {
	position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select: none;
    -moz-tap-highlight-color: rgba(0,0,0,0);
}

.yui3-scrollview-content {
    position:relative;
}

.yui3-scrollview-loading {
    display: none;
}

.yui3-scrollview-scrollbar { 
	opacity: 0; 
	position: absolute; 
	width: 6px; 
	height: 10px;

	-webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.yui3-scrollview-scrollbar.yui3-scrollview-vertical { 
	top: 0; 
	right: 1px; 
}

.yui3-scrollview-scrollbar.yui3-scrollview-horizontal { 
	height: 8px; 
	width: 20px; 
	bottom: 1px; 
	left: 0; 
}

.yui3-scrollview-scrollbar.yui3-scrollview-showing { 
	opacity: 1; 
}

.yui3-scrollview-scrollbar .yui3-scrollview-b, .yui3-scrollview-scrollbar .yui3-scrollview-middle { 
	position: absolute; 
	right: 1px; 
	display: block; 
	width: 100%; 
	height: 4px;  
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;     
}

.yui3-scrollview-scrollbar .yui3-scrollview-b { 
	-webkit-border-bottom-right-radius: 0; 
	-webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0; 
    -moz-border-bottom-left-radius: 0; 
	background: rgba(0,0,0,0.4); 
}

.yui3-scrollview-scrollbar .yui3-scrollview-b:first-child { 
	top: 0; 
}

.yui3-scrollview-scrollbar .yui3-scrollview-b:last-child { 
	bottom: 0; 
	-webkit-border-radius: 0; 
	-webkit-border-bottom-right-radius: 3px; 
	-webkit-border-bottom-left-radius: 3px; 
	-webkit-transform: translate3d(0, 0, 0);

    -moz-border-radius: 0; 
    -moz-border-bottom-right-radius: 3px; 
    -moz-border-bottom-left-radius: 3px; 
    -moz-transform: translate3d(0, 0, 0); 
}

.yui3-scrollview-scrollbar .yui3-scrollview-middle { 
    display: inline-block;
	position: absolute; 
	top: 4px; 
	-webkit-border-radius: 0;
    -moz-border-radius: 0; 
	height: 1px;

	-webkit-transform: translate3d(0,0,0) scaleY(1); 
	-webkit-transform-origin-y: 0;
    -moz-transform: translate3d(0,0,0) scaleY(1); 
    -moz-transform-origin-y: 0;
     
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAYAAAD9yd/wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJJREFUeNpiZGBgSGPAAgACDAAIkABoFyloZQAAAABJRU5ErkJggg==);
}

.yui3-scrollview-scrollbar.yui3-scrollview-horizontal > .yui3-scrollview-child { 
	display: inline-block; 
	top: 0; 
	left: 0; 
	bottom: auto; 
	right: auto;  
}

.yui3-scrollview-scrollbar.yui3-scrollview-horizontal .yui3-scrollview-b { 
	-webkit-border-top-right-radius: 0; 
	-webkit-border-bottom-left-radius: 3px;
    
    -moz-border-top-right-radius: 0; 
    -moz-border-bottom-left-radius: 3px; 

	width: 4px; 
	height: 6px; 
}

.yui3-scrollview-scrollbar.yui3-scrollview-horizontal .yui3-scrollview-b:last-child { 
	-webkit-border-bottom-left-radius: 0; 
	-webkit-border-top-right-radius: 3px;

    -moz-border-bottom-left-radius: 0; 
    -moz-border-top-right-radius: 3px; 
}

.yui3-scrollview-scrollbar.yui3-scrollview-horizontal .yui3-scrollview-middle { 
	top: auto; 
	left: 4px; 
	width: 1px; 
	height: 6px; 
	
    -webkit-transform: translate3d(0,0,0) scaleX(1); 
	-webkit-transform-origin: 0 0;

    -moz-transform: translate3d(0,0,0) scaleX(1); 
    -moz-transform-origin: 0 0;
     
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGCAYAAAACEPQxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpiYGBgSGMCEgzYCIAAAwALEABx0pRbLAAAAABJRU5ErkJggg==);
}


.yui3-scrollview-paginator { 
	width: 100%; 
	height: 100%; 
	text-align: center; 
    
    
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
    -moz-tap-highlight-color: rgba(0,0,0,0);
}

.yui3-scrollview-paginator-page { 
	display: inline-block; 
	width: 6px; 
	height: 6px; 
	background: #666; 
	margin-right: 8px;
    
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px; 
}

.yui3-scrollview-paginator-page.yui3-scrollview-active { 
	background: #fff; 
}