<div class="intro">
    <p>
    	Simple CSS for HTML List Elements.
    </p>
</div>

<p>
    Documentation for this module exists on <a href="http://tilomitra.github.com/csslist/">Github Pages.</a> You can <a href="https://github.com/tilomitra/csslist/issues">file issues</a> directly on Github too!
</p>