<div class="intro">
<p>
The YUI App Framework is a rollup of the <a href="../model/index.html">Model</a>, <a href="../model-list/index.html">Model List</a>, <a href="../router/index.html">Router</a>, and <a href="../view/index.html">View</a> components, combined to form a simple MVC-style framework for writing single-page JavaScript applications.
</p>

<p>
You can use these components separately or together to create anything from simple non-interactive views to rich applications with URL-based routing, data binding, and full client-server synchronization.
</p>

<p>
If you've used <a href="http://www.documentcloud.org/">DocumentCloud</a>'s excellent <a href="http://documentcloud.github.com/backbone/">Backbone.js</a> framework, many of the classes and APIs provided by App Framework components will look familiar to you. There are important differences, though, and the App Framework takes full advantage of YUI's powerful component and event infrastructure under the hood.
</p>
</div>

{{>getting-started}}

<h2>Components of the App Framework</h2>

<p>
The `app` module is a rollup module consisting of the following individual components. These components may also be used individually if you don't need all of them at the same time.
</p>

<table>
  <thead>
    <tr>
      <th>Component</th>
      <th>Module</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>[[#app-component|App]]</td>
      <td style="white-space: nowrap;">`app-base`</td>
      <td>
        <p>
        Provides a top-level application component which manages navigation and views This gives you a foundation and structure on which to build your application; it combines robust URL navigation with powerful routing and flexible view management.
        </p>
      </td>
    </tr>

    <tr>
      <td><a href="../model/index.html">Model</a></td>
      <td>`model`</td>
      <td>
        <p>
        A lightweight <a href="{{apiDocs}}/classes/Attribute.html">`Y.Attribute`</a>-based data model with APIs for getting, setting, validating, and syncing attribute values to a persistence layer or server, as well as events for notifying subscribers of model changes.
        </p>
      </td>
    </tr>

    <tr>
      <td><a href="../model-list/index.html">Model List</a></td>
      <td style="white-space: nowrap;">`model-list`</td>
      <td>
        <p>
        An array-like ordered list of `Y.Model` instances with APIs for adding, removing, sorting, filtering, and performing other actions on models in the list. Acts as a bubble target for events fired by the models in the list.
        </p>
      </td>
    </tr>

    <tr>
      <td><a href="../router/index.html">Router</a></td>
      <td>`router`</td>
      <td>
        <p>
        Provides URL-based same-page routing using <a href="https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history">HTML5 history</a> (`pushState`) or the location hash, depending on what the user's browser supports.
        </p>
      </td>
    </tr>

    <tr>
      <td><a href="../view/index.html">View</a></td>
      <td>`view`</td>
      <td>
        <p>
        Represents a piece of an application's user interface and is responsible for rendering content and handling DOM events. Views are commonly associated with Models or Model Lists and are re-rendered when they change, although this isn't required.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h2>App Component</h2>

<p>
App is a high-level component that builds upon several other components in the App Framework, it is composed of <a href="../view/index.html">View</a>, <a href="../router/index.html">Router</a>, and <a href="../pjax/index.html">Pjax</a>. This combination creates a solid foundation and structure on which to build your application; it connects together robust URL navigation with powerful routing and flexible view management.
</p>

<p>
The goal of the App component is to provide you a place to organize and connect-together the parts of your application from the top-level. App implements infrastructural pieces which are common to all apps — such as managing views and the navigation between pages — allowing you to focus on the specifics of <em>your</em> app.
</p>

<p>
App will enable you to seamlessly enhance the user experience and performance of traditional client/server apps, allowing for richer interactions without compromising standard browser behavior, URLs, or SEO. The [[#Routing Coordination with Server]] and [[#Progressively-Enhanced Apps]] sections of this guide contain details and best practices on accomplishing this.
</p>

<p>
You can also use the App component to build client-only apps for when there is no server, or the server is not capable of routing and handling requests. There are <strong>drawbacks to client-only apps</strong> which you need to be aware of and fully understand their implications. Be sure to read the [[#Client-Only Apps]] section which contains details on these drawbacks and best practices.
</p>

<p>
The remaining sections of this guide provide details on what you'll need to know to start working with the App component; refer to the previous section for information about the [[#Components of the App Framework|other components of the App Framework]].
</p>

<h2>Using App</h2>

<h3>Instantiating App</h3>

<p>
Creating an App instance couldn't be any simpler:
</p>

```
var app = new Y.App();
```

<p>
Two instantiable classes are provided by the `app-base` module: `Y.App`, and `Y.App.Base`. The difference between these is that `Y.App.Base` provides the basic app functionality and will remain pure; whereas `Y.App` (which extends `Y.App.Base`) will have all of the app-component extensions automatically mixed-in when they are included in the YUI instance.
</p>

<p>
In the following example, we are including both the `app-base` and `app-transitions` modules. When the `app-transitions` module is added to the YUI instance it will automatically mix itself into the `Y.App` class, adding transitions to all `Y.App` instances, but `Y.App.Base` will remain unaffected by the inclusion of this module.
</p>

```
YUI().use('app-base', 'app-transitions', function (Y) {
    // This will create two YUI Apps, `basicApp` will not have transitions,
    // but `fancyApp` will have transitions support included and turn them on.
    var basicApp = new Y.App.Base(),
        fancyApp = new Y.App({transitions: true});
});
```

<p>
While App instances are usable without any configuration, any non-trivial app will need to be configured. You might also want to extend `Y.App` by mixing-in additional functionality, or even create a custom App class to implement the specific features of your application. The [[#Extending `Y.App`]] section explains how to do this.
</p>

<h4>Config Properties</h4>

<p>
When constructing a new `Y.App` instance you can provide a config object with initial values for [[#app-attributes|attributes]] along with values for <a href="../view/index.html#view-properties">`Y.View`'s properties</a> and <a href="../api/classes/Base.html">`Y.Base`'s "special" properties</a> (used only during initialization). In addition to these, the following non-attribute properties have specific initialization logic applied and can be passed to the `Y.App` constructor:
</p>

<dl>
  <dt>`views`</dt>
  <dd>
    Hash of view-name to metadata used to declaratively describe an application's views and their relationship with the app and its other views. The views specified here will override any defaults provided by the `views` object on the `prototype`. See the [[#App Properties]] and [[#Declaring Views]] sections for more details.
  </dd>
</dl>

<p>
Here's an example that defines some `views` at instantiation time:
</p>

```
var app = new Y.App({
    views: {
        home: {preserve: true},
        users: {parent: 'home'}
    }
});
```

<h3>App Properties</h3>

<p>
The following properties are meaningful to App classes and subclasses. In addition to these, <a href="../view/index.html#view-properties">View's properties</a> are also applicable because App mixes-in `Y.View`.
</p>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Default Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>`views`</td>
      <td>`{}`</td>
      <td>
        <p>
        Hash of view-name to metadata used to declaratively describe an application's views and their relationship with the app and its other views. See [[#Declaring Views]] for more details.
        </p>

        <p>
        The view metadata is composed of Objects keyed to a view-name that can have any or all of the following properties:
        </p>

        <dl style="margin-top:1em">
          <dt>`type`</dt>
          <dd>
            <p>
            Function or a string representing the view constructor to use to create view instances. If a string is used, the constructor function is assumed to be on the `Y` object; e.g. `"SomeView"` -> `Y.SomeView`.
            </p>
          </dd>

          <dt>`preserve`</dt>
          <dd>
            <p>
            Boolean for whether the view instance should be retained. By default, the view instance will be destroyed when it is no longer the `activeView`. If `true` the view instance will simply be `removed()` from the DOM when it is no longer active. This is useful when the view is frequently used and may be expensive to re-create.
            </p>
          </dd>

          <dt>`parent`</dt>
          <dd>
            <p>
            String to another named view in this hash that represents the parent view within the application's view hierarchy; e.g. a `"photo"` view could have `"album"` has its `parent` view. This parent/child relationship is a useful cue for things like transitions.
            </p>
          </dd>

          <dt>`instance`</dt>
          <dd>
            <p>
            Used internally to manage the current instance of this named view. This can be used if your view instance is created up-front, or if you would rather manage the View lifecycle, but you probably should just let this be handled for you.
            </p>
          </dd>
        </dl>
      </td>
    </tr>
  </tbody>
</table>

<p>
The App class uses both properties and attributes. Properties are best when their stored data might be useful to multiple App instances, whereas attributes are best when the data being stored only pertains to a single instance.
</p>

<h3>App Attributes</h3>

<p>
App is composed of <a href="../view/index.html#view-attributes">View</a>, <a href="../router/index.html#config-attributes">Router</a>, and <a href="../pjax/index.html">Pjax</a>, all of which provide attributes that will be of interest to you — beyond these, App adds the following attributes:
</p>

<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Default Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>`activeView`</td>
      <td>`null`</td>
      <td>
        <p>
        The application's active/visible view. This attribute is read-only, to set the `activeView` use the `showView()` method.
        </p>

        <p>
        See [[#Switching the Active View]] for more details.
        </p>
      </td>
    </tr>

    <tr>
      <td>`serverRouting`</td>
      <td>`undefined`</td>
      <td>
        <p>
        Whether or not this application's server is capable of properly routing all requests and rendering the initial state in the HTML responses.
        </p>

        <p>
        This can have three different values, each having particular implications on how the app will handle routing and navigation:
        </p>

        <dl style="margin-top:1em">
          <dt>`undefined`</dt>
          <dd>
            <p>
            The best form of URLs will be chosen based on the capabilities of the browser. Given no information about the server environment a balanced approach to routing and navigation is chosen. See [[#Routing Coordination with Server]] for more details.
            </p>
          </dd>

          <dt>`true`</dt>
          <dd>
            <p>
            The server is <em>fully</em> capable of properly handling requests to all full-path URLs the app can produce.
            </p>

            <p>
            This is the best option for progressive-enhancement because it will cause <strong>all URLs to always have full-paths</strong>, which means the server will be able to accurately handle all URLs this app produces. See [[#Progressively-Enhanced Apps]] and [[#Routing Coordination with Server]] for more details.
            </p>
          </dd>

          <dt>`false`</dt>
          <dd>
            <p>
            The server is <em>not</em> capable of properly handling requests to all full-path URLs the app can produce, therefore all routing will be handled by this App instance.
            </p>

            <p>
            Be aware that this will cause <strong>all URLs to always be hash-based</strong>, even in browsers that are capable of using HTML5 history. Please make sure you fully understand the implications of client-only apps. See [[#Client-Only Apps]] and [[#Routing Coordination with Server]] for more details.
            </p>
          </dd>
        </dl>
      </td>
    </tr>

    <tr>
      <td>`viewContainer`</td>
      <td>`<div>` Node</td>
      <td>
        <p>
        The node into which this app's views will be rendered. This node's contents are fully-managed by this app instance.
        </p>

        <p>
        The view container node serves as the container to hold the app's `activeView`. Each time the `activeView` is set via `showView()`, the contents of this node will be replaced by the new active view's `container` node.
        </p>

        <p>
        The default view container is `<div>` Node, but you can override this in a subclass, or by passing in a custom `viewContainer` config value at instantiation time.
        </p>

        <p>
        When `viewContainer` is overridden by a subclass or passed as a config option at instantiation time, it may be provided as a selector string, DOM element, or a `Y.Node` instance (having the `viewContainer` and the `container` be the same node is also supported). During initialization, the app's `createViewContainer()` method will be called to convert the view container into a `Y.Node` instance if it isn't one already and stamp it with the CSS class: `"yui3-app-views"`.
        </p>

        <p>
        The app's `render()` method will append the view container to the app's `container` node if it isn't already, and any `activeView` will be set as its contents. See [[#Rendering an App]] for more details.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<p>
A few of App's inherited attributes are given new default values:
</p>

<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Inherited From</th>
      <th>New Default Value</th>
      <th>Reason</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>`container`</td>
      <td>`Y.View`</td>
      <td>`<body>` Node</td>
      <td>
        <p>
        Apps are considered to be full-page by default.
        </p>
      </td>
    </tr>

    <tr>
      <td>`hmtl5`</td>
      <td>`Y.Router`</td>
      <td>auto</td>
      <td>
        <p>
        This value is dependent on the value of `serverRouting` and will default accordingly.
        </p>
      </td>
    </tr>

    <tr>
      <td>`linkSelector`</td>
      <td>`Y.PjaxBase`</td>
      <td>`"a"`</td>
      <td>
        <p>
        By default this selector should match <em>all</em> links on the page because full-page apps are the default.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h3>Extending `Y.App`</h3>

<p>
The `Y.App` class is intended to be mutable insofar as being the host for <em>all</em> App-component features, whereas `Y.App.Base` is intended to remain pure and just host the basic set of features. This allows for two different ways to extend the functionality of `Y.App`: [[#mixing-in features]], and [[#subclassing]].
</p>

<h4>Mixing-In Features</h4>

<p>
Additional class extensions can be automatically mixed-into `Y.App`, doing so will dynamically extend the functionality of the App class making these new features available to all of its instances and subclasses. The `Y.App.Transitions` class extension, provided by the `app-transitions` module, uses this pattern to add transitions support to `Y.App`.
</p>

```
// Creates the namespace for the transitions class extension and assigns a
// simple constructor function to it.
Y.App.Transitions = function () {};

// This defines the prototype of the transitions class extension, the actual
// implementation has been left out for the sake of simplicity.
Y.App.Transitions.prototype = {

    // The implementation of the transition features would be here.

};

// Here the transitions class extension is being applied automatically by
// mixing itself into the `Y.App` class.
Y.Base.mix(Y.App, [Y.App.Transitions]);
```

<p>
When this module is included in the YUI instance, the transitions support for App can be used by simply toggling it on:
</p>

```
YUI().use('app-base', 'app-transitions', function (Y) {
    var app = new Y.App({transitions: true});
});
```

<p>
When writing your own class extensions to add features to `Y.App`, feel free to add them to App's namespace (e.g., `Y.App.SomeNewFeature`), and be sure to follow these two rules:
</p>

<ol>
  <li>
    <p>
    The addition functionality should be <strong>disabled by default</strong>. The API for the class extensions should provide some way for the user to <em>opt-in</em> to using the features it adds.
    </p>

    <p>
    The `Y.App.Transitions` class extension does this be requiring a "truthy" value for the `transitions` property of the config object passed-in during instance creation.
    </p>
  </li>

  <li>
    <p>
    Be courteous to the other App component class extensions, since they all share the same `prototype` be careful not to unintentionally overwrite other properties or methods.
    </p>
  </li>
</ol>

<h4>Subclassing</h4>

<p>
Creating class extensions for [[#mixing-in features]] to `Y.App` is a great way to extend its functionality in a reusable way while not changing how you [[#Instantiating App|instanciate an App]]; but might find it more useful to extend the `Y.App` class to create a subclass customized to your specific needs.
</p>

<p>
Use the `Y.Base.create()` method to extend `Y.App` and add or override prototype and static members and attributes. You may also optionally specify one or more <a href="../base/index.html#extensions">class extensions</a> to mix into your new class.
</p>

```
// Create a Y.CustomApp class that extends Y.App.
Y.CustomApp = Y.Base.create('customApp', Y.App, [], {
    // Add or override prototype properties and methods here.
}, {
    // Add static properties and methods here.

    ATTRS: {
        // Add or override default attributes here.
    }
});
```

<p>
One benefit of extending `Y.App` is that you can easily add default views, routes, and route handlers to your custom App class, and they'll be shared by all instances of that class unless overridden at the instance level:
</p>

```
Y.CustomApp = Y.Base.create('customApp', Y.App, [], {
    // Default registered views inherited by all CustomApp instances.
    views: {
        home: {preserve: true},
        user: {parent: 'home'}
    },

    // Default route handlers inherited by all CustomApp instances.

    home: function (req) {
        // Handle the '/' route here.
    },

    user: function (req) {
        // Handle the '/users/:name/' route here.
    }
}, {
    ATTRS: {
        // Share these routes with all CustomApp instances.
        routes: {
            value: [
                {path: '/',             callback: 'home'},
                {path: '/users/:name/', callback: 'user'}
            ]
        }
    }
});

// Create a CustomApp instance that inherits the defaults and adds to them.
var app = new Y.CustomApp({
    // Register an additional view.
    views: {
        about: {parent: 'home'}
    }
});

// Add a route and route handler.
app.route('/about/', function (req) {
    // Handle the '/about/' route here.
});
```

<p>
Now all instances of `Y.CustomApp` will inherit all the custom defaults and can add to or override them. The `app` instance created here will handle the `/` and `/users/:name/` routes in addition to its own `/about/` route, and will show the associated view that has been registered with the app.
</p>

<p>
Before you subclass `Y.App`, you should refer to <a href="{{apiDocs}}/modules/app-base.html">App's API docs</a> to become familiar with its public and protected properties and methods.
</p>

<h3>Routing Coordination with Server</h3>
{{! TODO:

  * Note about `html5` default value override.

}}

<h3>Rendering an App</h3>
{{! TODO:

  * Note about View's `container` attribute, and App's CSS classes.

}}

<h3>View Management</h3>

<p>
A primary feature of App is its flexible view management, which enables you to declare the primary views of your application and easily switch which one is active. This is very handy for defining your app's top-level "page" views, then switching between them as a user navigates through the application.
</p>

<h4>Declaring Views</h4>

<p>
The `views` property of an App class allows you to specify a mapping of view-names to view-metadata that should be registered to your app. This way you can specify information about your app's views — how they should be treated by the app, and how they related to other views — up-front, in a declarative way that is self-documenting.
</p>

<p>
You can setup this views mapping on both App classes and instances. Every App instance will receive its own copy of a `views` object, any `views` metadata defined at the class-level will be used as defaults—merged with the `views` specificed during instantiation time.
</p>

<p>
The follow example shows the creation of an App subclass, `CustomApp`, which has a couple default views defined, and an instance of `CustomApp` which defines another view and overrides some of the defaults.
</p>

```
Y.CustomApp = Y.Base.create('customApp', Y.App, [], {
    // Default registered views inherited by all CustomApp instances.
    views: {
        home: {preserve: true},
        user: {parent: 'home'}
    }
});

var app = new Y.CustomApp({
    // Additional view metadata to be merged with the defaults.
    views: {
        home : {preserve: false},
        user : {preserve: false},
        about: {parent: 'home'}
    }
});
```

<p>
Using the `getViewInfo()` method, we can see how the `views` metadata from our `CustomView` class and instance were merged together.
</p>

```
// Overwrote "home"'s default `preserve` value.
Y.log(app.getViewInfo('home').preserve);  // => false

// Added `preserve` to "user" view,
// and this did not overwrite the default `parent` value.
Y.log(app.getViewInfo('user').parent);    // => 'home'
Y.log(app.getViewInfo('user').preserve);  // => false

// The specified "about" view was registered.
Y.log(app.getViewInfo('about').parent);   // => 'home'
```

<p>
See the [[#App Properties]] section above for more details on what metadata can be stored for each view in `views` mapping.
</p>

<h4>Switching the Active View</h4>
{{! TODO:

  * Fancy diagram showing header/body/footer screen-regions with the body highlighted. What about an iPhone to pump mobile!

  * Expand on docs for `showView()` method.

  * Mention `createView()` API is being used.

  * View event bubbling.

}}

<p>
When decomposing an application into discrete user-interfaces, it is natural to think of these as different "pages"—with each one serving a particular role and being the main content on the screen. With the App component, changing the main content/user-interface is done by updating an app's `activeView` attribute via the `showView()` method.
</p>

<p>
Working in concert with an App's registered `views`, the `showView()` method will take a specified view and make it the app's main content by setting it as the `activeView`, bubbling its events to the app, rendering it inside the app's `viewContainer`, and properly disposing of any previous active view.
</p>

<p>
The following example is the most basic "Hello World" app:
</p>

```
var app  = new Y.App(),
    view = new Y.View();

view.render = function () {
    this.get('container').set('text', 'Hello World!');
    return this;
};

app.render().showView(view.render());
```

<p>
This results in the HTML of the page looking like this:
</p>

```
<body class="yui3-app">
    <div class="yui3-app-views">
        <div>Hello World!</div>
    </div>
</body>
```

<p>
This example app can <em>easily</em> become more dynamic and include URL routing. By creating a `Person` model and a reusable `HelloView`, the app can dynamically switch between outputting "Hello World!" and "Hello [name]!" where the "name" is the path segment in the URL.
</p>

```
Y.Person = Y.Base.create('person', Y.Model, [], {}, {
    ATTRS: {
        name: {}
    }
});

Y.HelloView = Y.Base.create('helloView', Y.View, [], {
    render: function () {
        var person = this.get('model'),
            name   = person && person.get('name');

        this.get('container').set('text', 'Hello ' + (name || 'World') + '!');
        return this;
    }
});

var app = new Y.App({
    views: {
        hello: {type: 'HelloView'}
    }
});

app.route('/', function (req) {
    this.showView('hello');
});

app.route('/:name', function (req) {
    this.showView('hello', {
        model: new Y.Person(req.params)
    });
});

app.render().save('/ericf');
```

<p>

<p>
This results in the URL being updated to either `"/ericf"` or `"/#/ericf"` depending on whether the browser is capable of HTML5 history, and the HTML of the page looking like this:
</p>

```
<body class="yui3-app">
    <div class="yui3-app-views">
        <div>Hello ericf!</div>
    </div>
</body>
```

<h3>Navigating Between "Pages"</h3>
{{! TODO:

  * Note about `linkSelector` default value override.

}}

<h2>Best Practices</h2>

<h3>Progressively-Enhanced Apps</h3>

<h3>Client-Only Apps</h3>

<h2>Apps vs. Widgets</h2>
