YUI({
    modules: {
        external: {
            fullpath: '{{componentAssets}}/external.js',
            requires: ['node']
        }
    }
}).use('external', function(Y) {
    Y.External.run();
});
