<table>
  <thead>
      <tr>
          <th>YUI 3 Component</th>
          <th>Module</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>`json`</td>
          <td>Alias module for: `json-parse, json-stringify`</td>
      </tr>
      <tr>
          <td>`json-parse`</td>
          <td>Provides Y.JSON.parse method to accept JSON strings and return native</td>
      </tr>
      <tr>
          <td>`json-stringify`</td>
          <td>Provides Y.JSON.stringify method for converting objects to JSON strings.</td>
      </tr>
  </tbody>
</table>