
<style>
#cal1Cont {
    width: 250px;
    float: none;
}
#cal1Cont .calhead {
    cursor: move;
}
</style>
<input id="button1" type="button" value="Click to load YUI Calendar" class="button" />

<div id="cal1Cont"></div>

<script>
{{>yui-loader-ext-config}}

YUI(config).use('node', function(Y, result) {
{{>yui-loader-ext-logic}}
});
</script>

