<style type="text/css" id="styleoverrides">
#cal1Cont {
    background-color:#004C6D;
    width: 200px;
}
#cal1Cont table tr {
    background-color:#004C6D;
}

#cal1Cont div.calheader {
    cursor: move;
}

#cal1Cont .yui3-calendar {
    width:auto;
    background-color:transparent;
}

#cal1Cont .yui3-calendar tr, #cal1Cont .yui3-calendar th {
    background-color:transparent;
    vertical-align:middle;
    text-transform:none;
    color:#fff;
}

#cal1Cont .yui3-calendar a:hover {
    text-decoration:none;
}

#results {
    background-color:#8DD5E7;
    border:1px solid black;
    position: absolute;
    top: 15px;
    right: 5px;
    width: 300px;
}
.example {
    position: relative;
    min-height: 280px;
    *height: 280px;
}
</style>

<div id="cal1Cont"></div>
<div id="results">Click a date..</div>

<script>
{{>yui-yui2-js}}
</script>

