<pre style="margin-bottom: 1em">
UA properties set for your browser:
</pre>
<div id="demo">
</div>

<script type="text/javascript">

// This method is in the core of the library, so we don't have to use() any
// additional modules to access it.  However, this example requires 'node'.
YUI().use('node', function(Y) {
{{>yui-ua-js}}
});

</script>

