
<style type="text/css">
	{{>panel-form-css-source}}
</style>
<h1>Using a panel to show a modal form</h1>
{{>panel-form-html-source}}
<script type="text/javascript">
	{{>panel-form-js-source}}
</script>
