.yui-resize {
    border: 1px solid black;
    position: relative;
}

.yui-resize-resizing {
    overflow: hidden;
}

.yui-resize div.yui-resize-handle {
    height: 5px;
    width: 5px;
    position: absolute;
    background-color: red;
    z-index: 1000;
}
.yui-resize div.yui-resize-handle-br {
    bottom: 0;
    right: 0;
    cursor: se-resize;
    background-color: green;
}

.yui-resize div.yui-resize-handle-bl {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    background-color: green;
}

.yui-resize div.yui-resize-handle-tl {
    top: 0;
    left: 0;
    cursor: nw-resize;
    background-color: green;
}

.yui-resize div.yui-resize-handle-tr {
    top: 0;
    right: 0;
    cursor: ne-resize;
    background-color: green;
}

.yui-resize div.yui-resize-handle-r {
    height: 100%;
    top: 0;
    right: 0;
    cursor: e-resize;
}

.yui-resize div.yui-resize-handle-l {
    height: 100%;
    top: 0;
    left: 0;
    cursor: w-resize;
}

.yui-resize div.yui-resize-handle-b {
    width: 100%;
    bottom: 0;
    right: 0;
    cursor: s-resize;
}
.yui-resize div.yui-resize-handle-t {
    width: 100%;
    top: 0;
    right: 0;
    cursor: n-resize;
}
.yui-resize-resizing div.yui-resize-handle-active {
    background-color: blue;
}
.yui-resize div.yui-resize-handle-active {
    background-color: blue;
}
.yui-resize-proxy {
    position: absolute;
    border: 1px dashed #000;
    visibility: hidden;
    z-index: -1;
}
