<div class="intro">
<p>This example shows how to natively use a YUI Gallery module.</p>
</div>

<div class="example">
    {{>yui-gallery}}
</div>

<h3>Loading Gallery Modules</h3>
<p>If a Gallery module has been pushed to the CDN, it will be available to use as a first class YUI 3 module.</p>
<p>To load a Gallery module, simply add its module name to your `YUI().use` call. In the code sample below we are using the `gallery-bitly` module.</p>

```
YUI().use('gallery-bitly', function(Y) {
    //Y.bitly is available here
});
```

<h3>Bitly example</h3>
<p>This simple example demonstrates using the <a href="http://yuilibrary.com/gallery/show/bitly">gallery-bitly</a> module to expand and shorten url's.</p>
<p><strong>Note: </strong> We are using the gallery module directly from the `use` statement, no configuration needed.</p>

```
{{>yui-gallery-js}}
```
