.yui3-skin-sam .yui3-datatable tr.yui3-datatable-select-row td {
    background-color: #fef2cd;
}

.yui3-skin-sam .yui3-datatable .yui3-datatable-select-col {
    background-color: #fef2cd;
}

.yui3-skin-sam .yui3-datatable tr .yui3-datatable-select-cell {
    background-color: #fef2cd;
}