<style>
#res .mod {
    background-color:white;
    border:1px solid black;
    padding:1em;
}
#res h2 {
    color: black;
}
</style>


<div id="res">Querying YQL..</div>


<script>
{{>simple-yql-source-js}}
</script>

