YUI().use('node', 'yql', function(Y) {
    
    var res = Y.one('#res'),
        zip = '90210';
    
    Y.YQL('select * from weather.forecast where location=' + zip, function(r) {
        var el = Y.Node.create('<div class="mod"></div>');

        el.set('innerHTML', '<h2>Weather for ' + zip + '</h2>' + r.query.results.channel.item.description);

        res.setContent(el);
    
    });
});

