<div id="demo">
    <p>Pick a field and type a number to get the conversion of the temperature.
    </p>

    <div id="temperatureView">
        <p>
            <label for="fahrenheit">Fahrenheit:</label>
            <input type ="text" id="fahrenheit" />
        </p>
        <p>
            <label for="celsius">Celsius:</label>
            <input type="text" id="celsius" />
        </p>
        <p>
            <label for="kelvin">Kelvin:</label>
            <input type="text" id="kelvin" />
        </p>
    </div>
</div>
