<link rel="stylesheet" href="http://yui.yahooapis.com/3.6.0/build/cssbutton/cssbutton-min.css">
<link rel="stylesheet" href="http://localhost/yui3-gallery/src/gallery-imagecropper/build_tmp/assets/skins/sam/gallery-imagecropper.css">
<style>
#save {
  position: absolute;
  top: 10px;
  left: 380px;
}
.example {
	position: relative;
}
</style>

<div class="intro">
<p>
This example demonstrates how to instantiate a simple ImageCropper. Try clicking on the button to get the coordinates of the crop area.
</p>
</div>

<div class="example yui3-skin-sam">
    {{>imagecropper-basic-source}}
</div>

<h2>Complete Example Source</h2>

```
{{>imagecropper-basic-source}}
```
