<div id="demo" class="yui3-skin-sam"> {{>need-skin-comment}}
    <p>
        <label for="ac-input">Enter an address:</label>
        <input id="ac-input" type="text" />
    </p>

    <ul>
        <li>Latitude: <strong id="locationLat"></strong></li>
        <li>Longitude: <strong id="locationLng"></strong></li>
    </ul>
</div>
