<!DOCTYPE html>
<html lang="en" class="yui3-loading">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.2/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{componentAssets}}/portal/portal.css">
    <script src="{{yuiSeedUrl}}"></script>
</head>
<body class="yui3-skin-sam">

{{>yql-mock-config}}

{{>layout_content}}

{{>test-runner}}
</body>
</html>
