#example-canvas { /* for YDN */
    height: 250px;

}

#demo {
    height: 200px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 300px;
    zoom: 1;
    background-color: #B6BFDA;
    border: 1px solid #7E869D;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#demo a {
    background:url(sprite.png) no-repeat;
    position: absolute;
    cursor:pointer;
    display: inline-block; /* prevent IE margin doubling */
    overflow:hidden;
    text-decoration:none;
    text-indent:9999px;
    height: 20px;
    width: 21px;
    top: 4px;
    right: 4px;
    border:solid 1px;
    border-color: #CCD1E1 #6E7BA0 #6E7BA0 #CCD1E1; 
    background-color: #97A2C4;
    border-radius: 2px;
}
