#example-canvas { /* for YDN */
    height: 250px;

}

#demo {
    height: 200px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 300px;
    zoom: 1;
    background-color: #B6BFDA;
    border: 1px solid #7E869D;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

#demo a {
    font-weight: bold;
    color: #fff;
    line-height: 12px;
    height: 14px;
    width: 15px;
    overflow: hidden;
    padding: 3px;
    position: absolute;
    top: 3px;
    right: 3px;
    text-decoration: none;
    text-align: center;
    text-shadow:0 0 1px #000;
    border:solid 1px;
    border-color: #CCD1E1 #6E7BA0 #6E7BA0 #CCD1E1; 
    background-color: #97A2C4;
}
