#mycarousel {
	background-color:#eee;
	margin:10px 0 0;
	padding:0;
}

.carousel-component { 
	padding:4px;
	margin:0px;
	width:136px; /* seems to be needed for safari */
}

.carousel-component .carousel-list li { 
	text-align:left;
	margin:0px;
	padding:1 4px 0;
	width:218px;
	height:15.5em;
}

.carousel-component .carousel-list li a { 
	width: 79px;
	display:block;
	border:1px solid #e2edfa;
	outline:none;
	margin:0 auto;
}

.carousel-component .carousel-list li h5 { 
	text-align: center;
}

.carousel-component .carousel-list li a:hover { 
	border: 1px solid #aaaaaa;
}

.carousel-component .carousel-list li img { 
	display:block; 
}
									
#prev-arrow { 
	cursor:pointer;
	margin:10px 0 10px 96px;
}

#next-arrow { 
	cursor:pointer; 
	margin:10px 0 10px 96px;
}

ul#poweredby-commercial {list-style-type:none;margin-left:0;}
ul#poweredby-commercial li {float:left;}
ul#poweredby-commercial li span {position:absolute;left:-9999px}
ul#poweredby-commercial li a {background-repeat:no-repeat;display:block;width:100px;height:120px;}
ul#poweredby-commercial li p {margin:0;padding:3em 0 0 20px;width:80px;}
a#linkedin {background-image:url(thumb_linkedin.png);}
a#ifilm {background-image:url(thumb_ifilm.png);}
a#jetblue {background-image:url(thumb_jetblue.png);}
a#southwest {background-image:url(thumb_southwest.png);}
a#marketwatch {background-image:url(thumb_marketwatch.png);}
a#dowjones {background-image:url(thumb_dowjones.png);}
a#slashdot {background-image:url(thumb_slashdot.png);}
a#myopera {background-image:url(thumb_myopera.png);}
a#hitwise {background-image:url(thumb_hitwise.png);}
a#target {background-image:url(thumb_target.png);}
a#sugarcrm {background-image:url(thumb_sugarcrm.png);}
a#powerreviews {background-image:url(thumb_powerreviews.png);}
a#thinkature {background-image:url(thumb_thinkature.png);}
a#smugmug {background-image:url(thumb_smugmug.png);}
a#genius {background-image:url(thumb_genius.png);}
a#ourstory {background-image:url(thumb_ourstory.png);}
a#wikia {background-image:url(thumb_wikia.png);}
a#podtech {background-image:url(thumb_podtech.png);}
a#newsvine {background-image:url(thumb_newsvine.png);}
a#startupsearch {background-image:url(thumb_startupsearch.png);}

.ygallery {
	margin: 10px 0 2em;
}
.ygallery .ygallery-item {
	margin-bottom: 1em;
}
.ygallery .rating {
	padding-left: 1em;
}
.ygallery .rating a {
	text-decoration: none;
	color: #666;
	font-size: 77%;
	display: block;
	margin-bottom: 0.4em;
}
.ygallery .rating img {

}
.ygallery p {
	margin-top: 0.6em;
	color: #666;
}
.ygallery p, .ygallery strong, .ygallery .cat-app-author {
	font-size: 85%;
	padding-left: 1em;
}
.ygallery span {
	font-size: 85%;
}