.wf2-skin-sketch .yui3-widget-mask {
    background-color: #999;
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=65)";
    filter: alpha(opacity=65);
    opacity: 0.65;
}
