body, html {
    margin:0;
    padding:0;
    background:#f0f0f0;
}

a:visited {
    color:#0000ff;
}

header, section, footer {
    display:block;
}

header .main {
    height:60px;
    line-height:60px;

    border:1px solid rgb(143,87,150);
    border-left:none;
    border-right:none;

    background-image:
        url("logo_yahoo.png"),
        -webkit-gradient(radial, 0 50%, 60, 100% 50%, 60, from(rgba(255,255,255,0.2)), to(rgba(0,0,0,0.2))),
        -webkit-gradient(linear, left top, left bottom, from(#7D3B78), color-stop(0.49, #7A3C76), color-stop(0.50, #6A2565),to(#742A70));

    background-repeat:no-repeat, repeat, repeat;
    background-position:2% center, center center;

    vertical-align:middle;
    text-align:right;
}

header .main .inputwrapper {
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    background-color:#fff;
    width:300px;
    height:28px;
    line-height:28px;
    margin-right:15px;
    -webkit-border-radius:9px;
}

header .main #searchbox {
    color:#aaa;
    height:30px;
    width:300px;
    border:none;
    -webkit-border-radius:15px;
    outline:none;
    padding-left:20px;
    margin-right:15px;
}

header .sub {
    color:#fff;
    font-weight:bold;
    background-image:-webkit-gradient(linear, left top, left bottom, from(#2A2A2A), to(#525252));
    padding: 9px 15px;
    
}

header .sub .date {
    font-weight:normal;
    font-style:italic;
}

#yui-main {
    white-space:nowrap;
    margin-bottom:10px;
}

#yui-main ul {
    -webkit-transition-property:-webkit-transform;
    -webkit-transform:translate3D(0,0,0);
    height:301px; /* hack */
}

#yui-main img {
    width:768px;
    height:100%;
}

#yui-main li {
    position:relative;
    display:inline-block;
}

#yui-news {
    vertical-align:top;
    display:inline-block;
    width:450px;
    border:0;
    padding:0;
}

#yui-news .yui-headline .yui-cap, #yui-main .yui-cap {
    white-space:normal;
    position:absolute;
    left:0;
    bottom:10px;
    background-color:rgba(0,0,0,0.7);
    padding:15px;
    color:#fff;
}

#yui-main .yui-cap-t {
    top:10px;
    bottom:auto;
}

#yui-main .yui-cap-c {
    top:50%;
    margin-top:-40px;
    bottom:auto;
}

#yui-main .yui-cap h2 {
    font-size:115%;
    font-weight:bold;
}

/* Headline image in Tab */

#yui-news .yui-headline {
    height:180px;
    position:relative;
    width:100%;
    font-size:85%;
    overflow:hidden;
}

#yui-news .yui-headline img {
    width:100%;
    height:100%;
}

#yui-news .yui-headline .yui-cap {
    width:100%;
    height:auto;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;
    bottom:0;
    white-space:nowrap;
}

#yui-news .yui-headline .yui-cap h2 {
    display:inline-block;
    font-weight:bold;
    font-size:108%;
    text-align:right;
    white-space:normal;
    padding-top:5px;
    vertical-align:top;
    padding-left:5px;
}

#yui-news .yui-headline .yui-cap > div {
    display:inline-block;
    white-space:normal;
    border-left:1px solid #fff;
    padding-left:5px;
    padding-right:5px;
}

#yui-news .yui-headline .yui-cap > div > h3 {
    white-space:normal;
    padding-bottom:5px;
    font-weight:bold;
    font-size:108%;
}

/* TabView */
#yui-news .yui3-tabview-list {
    -webkit-border-top-left-radius:5px;
    margin-left:10px;
    background-color:#e5e5e5;
    border:1px solid #d2d2d2;
    border-bottom:0;
    padding:0;
}

#yui-news .yui3-tab {
    padding-top:0;
    margin-top:-1px;
    margin-left:-1px;
}

#yui-news .yui3-tab .yui3-tab-label{
    background:transparent;
    border:none;
    color:#7a7a7a;
    padding:5px 15px 5px 15px;
}

#yui-news .yui3-tab-selected {
    margin-bottom:-1px;
}

#yui-news .yui3-tab-selected .yui3-tab-label {
    border:1px solid #d2d2d2;
    border-bottom:0;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    background:#f0f0f0;
}

#yui-news .yui3-tabview-panel {
    padding:10px;
    border:1px solid #d2d2d2;
    background-color:#f0f0f0;
}

/* Lists inside TabView content */

#yui-news .yui3-tabview-panel ul {
    margin-top:1em;
}

#yui-news .yui3-tabview-panel li {
    margin-bottom:2px;
    color:#6A2565;
    list-style: disc inside;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#yui-news .yui3-tabview-panel ul a {
    text-decoration:none;
}

/* Apps */

#yui-apps {
    vertical-align:top;
    display:inline-block;
    width:290px;
    margin-left:5px;
    margin-right:0;
    border:0;
    padding:0;
    color:#7a7a7a;
    font-size:85%;
}

#yui-apps ul li {
    border:1px solid #fff;
    margin-bottom:5px;
    padding:5px;
    padding-left:35px;
    background-color:#f8f8f8;
    background-image:url(http://l1.yimg.com/a/i/ww/met/pa_icons_18/20100825/spr_apps_us.png);
    background-repeat:no-repeat;
    background-position-x:5px;
    -webkit-border-radius:5px;
}

#stocks {
    background-position-y:-132px;
}

#mail {
    background-position-y:5px;
}

#yui-apps #fb {
    background-image:url(http://l1.yimg.com/a/i/ww/met/pa_icons_18/face_20100602.gif);
    background-position-y:5px;
}

#weather {
    background-position-y:-947px;
}

#horoscope {
    background-position-y:-267px;
}

#nfl {
    background-position-y:-743px;
}

#yui-apps #login {
    background-image:url(nopic_18.gif);
    background-position-y:4px;
}

#yui-apps ul li h2 {
    color:#000;
    font-weight:bold;
    font-size:118%;
}

#yui-apps ul li h2 .summary {
    display:inline-block;
    padding: 1px 8px 1px 8px;
    float:right;
    background-color: rgb(115, 60, 125);
    -webkit-border-radius:10px;
    color:#fff;
}

#yui-apps ul #login {
    color:#fff;
    background-color:rgb(115, 60, 125);
    border:1px solid #4D1747;
    -webkit-box-shadow: 0 4px 4px #999; 
}

#login h2, #login p, #login p {
    display:inline-block;
}

#login #config {
    float:right;
}

#login .greeting {
    color:#fff;
}

#login .configicon {
    display:inline-block;
    overflow:hidden;
    text-indent:-10000em;
    overflow:hidden;
    width:20px;
    height:20px;
    background-image:url(icon_gear.gif);
    background-repeat:no-repeat;
    background-position:center 0;
}

#login .logout {
    padding-left:5px;
    color:#fff;
    text-decoration:none;    
    border-left:1px solid #c48ec8;
}

#stocks .stock-up {
    color:#00aa00;
    font-weight:bold;
}

#stocks .stock {
    display:inline-block;
    width:48%;
}

#nfl {
    white-space:nowrap;
}

#nfl #nfl-home, #nfl #nfl-time, #nfl #nfl-away {
    display:inline-block;
    padding-right:10px;
}

#nfl p {
    font-weight:bold;
    color:#000;
}

#nfl #nfl-home {
    text-align:right;
}

#nfl #nfl-away {
    text-align:left;
}

#horoscope span {
    color:#7a7a7a;
}

#fb button {
    margin-top:5px;
    padding:5px 10px;
    color:#fff;
    font-weight:bold;
    background-image:
        -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(rgb(122, 144, 185)), 
            color-stop(0.1, rgb(122, 144, 185)), 
            color-stop(0.55, rgb(60, 90, 150)), 
            color-stop(0.75, rgb(85, 112, 167)), 
            color-stop(1, rgb(102, 125, 175))
        );
    -webkit-border-radius:5px;
    border:1px solid rgb(60, 90, 152);
}

.yui3-dd-proxy {
    background-color:rgba(115, 60, 125, 0.4);
    border:1px solid #4D1747;
    color:#fff;
    padding:auto;
    font-weight:bold;
    text-align:center;
    -webkit-box-shadow: 0 4px 4px #999;
    -webkit-border-radius:5px;
}

#yui-apps ul.yui-config li {
    border:1px solid #4D1747;
    -webkit-box-shadow: 0 4px 4px #999;
}

#yui-apps ul.yui-config #login .configicon {
    background-image:url(icon_gear_on.gif);
}

.yui3-js-enabled .yui3-tabview-loading {
    visibility:hidden;
}