@font-face {
  font-family: 'YUIFont';
  src: url('../../fonts/font-yui/yui.eot?v=3.0.1');
  src: url('../../fonts/font-yui/yui.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../../fonts/font-yui/yui.woff?v=3.0.1') format('woff'),
    url('../../fonts/font-yui/yui.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.yui3-paginator-table ul {
    margin: 0; /* needed for IE */
    padding: 0;
}

.yui3-paginator-table .yui3-paginator-content {
    position: relative;
}
.yui3-paginator-table .yui3-paginator-page-select {
    position: absolute;
    right: 0;
    top: 0;
}
.yui3-paginator-table .yui3-paginator-control {
    display: block;
    margin: 0 3px;
    padding: 0 0.2em;
    text-align: center;
    text-decoration: none;
    line-height: 1.5;
}
.yui3-paginator-table .yui3-paginator-control-disabled,
.yui3-paginator-table .yui3-paginator-control-disabled:hover {
    cursor: default;
}
.yui3-paginator-table .yui3-paginator-control-first,
.yui3-paginator-table .yui3-paginator-control-last,
.yui3-paginator-table .yui3-paginator-control-prev,
.yui3-paginator-table .yui3-paginator-control-next {
    text-indent: -999px;
    direction: ltr;
    overflow: hidden;
    position: relative;
    width: 1em;
}
.yui3-paginator-table .yui3-paginator-control:before {
    font-family: "YUIFont";
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
    vertical-align: middle;
}
.yui3-paginator-table .yui3-paginator-control-first:before {
    content: "\f048"; /* |< */
}
.yui3-paginator-table .yui3-paginator-control-last:before {
    content: "\f051"; /* >| */
}
.yui3-paginator-table .yui3-paginator-control-prev:before {
    content: "\f0d9"; /* < */
}
.yui3-paginator-table .yui3-paginator-control-next:before {
    content: "\f0da"; /* > */
}
