<p>Clicking on one of the buttons below will execute a custom <code>execCommand</code> on the Editor.</p>

<div id="editor_cont">
    <div id="buttons">
        <button id="foo">Foo Command</button>
        <button id="bar">Bar Command</button>
        <button id="baz">Baz Command</button>
    </div>
    <div id="editor"></div>
    <div id="out">&nbsp;</div>    
</div>

