<div id="demo_holder" class="yui3-skin-sam">
    <div id="editor_cont">
        <p>Interact with the Editor instance below (click, type) and watch the console.</p>
        <div id="editor"></div>
    </div>
    <div id="console"></div>
</div>
