    #editor_cont {
        width: 600px;
        border: 1px solid #999;
        margin: 2em;
        background-color: #f2f2f2;
    }
    #editor {
        height: 265px;
        background-color: #fff;
    }
    #buttons, #out {
        padding: 10px;
    }
    #buttons {
        border-bottom: 1px solid #999;
    }
    #out {
        font-weight: bold;
        border-top: 1px solid #999;
    }

