<style>
{{>editor-inline-instance-source-css}}
</style>

<p>Click the buttons below to query the Editor for its contents. You can even modify the contents and click them again to see the difference.</p>

{{>editor-inline-instance-source-html}}

<script>
{{>editor-inline-instance-source-js}}
</script>

