<div class="intro">
    <p>In this example, we'll look at a few ways to create buttons using the `'button-plugin'` module, and use the `'cssbutton'` module for basic styles.</p>
    <p>This example uses 3 different ways of creating plugged node elements.  Choose the one you are most comfortable with.</p>
</div>

<div class="example">
    {{>button-plugin-source-html}}

    <script>
    {{>button-plugin-source-js}}
    </script>
</div>

<h4>Source: HTML</h4>
{{>need-skin-note}}
```
<body class="yui3-skin-sam"> {{>need-skin-comment}}
```

```
{{>button-plugin-source-html}}
```

<h4>Source: JavaScript</h4>
```
{{>button-plugin-source-js}}
```
