<div class="intro">
    <p>In this example, we'll look at a few ways to assign buttons into groups using the `'button'` module, which includes `'button-base'`, `'button-group'`, and `'cssbutton'`.</p>
</div>

<div class="example">
    {{>button-group-source-html}}

    <script>
    {{>button-group-source-js}}
    </script>
</div>

<h4>Source: HTML</h4>
```
{{>button-group-source-html}}
```
<h4>Source: JavaScript</h4>
```
{{>button-group-source-js}}
```
