<link rel="stylesheet" href='{{yuiBuildUrl}}/cssbutton/cssbutton.css'></link>
<div class="intro">
    <p>In this example, we'll look at a few ways to create button widgets using the `'button'` module and listen for events on one to manipulate an attribute of another.</p>
</div>

<div class="example yui3-skin-sam">
    {{>button-source-html}}

    <script>
    {{>button-source-js}}
    </script>
</div>

<h4>Source: HTML</h4>
{{>need-skin-note}}
```
<body class="yui3-skin-sam"> {{>need-skin-comment}}
```

```
{{>button-source-html}}
```

<h4>Source: JavaScript</h4>
```
{{>button-source-js}}
```
