<div class="intro">
    <p>In this example, we'll look at a few ways to provide additional styles to the `'cssbutton'` module.</p>
</div>

<link rel="stylesheet" href='{{yuiBuildUrl}}/cssbutton/cssbutton.css'></link>
<style>{{>css-button-source-css}}</style>

<div class="example">
    {{>css-button-source}}
</div>

<h4>Source: HTML</h4>
```
{{>css-button-source}}
``` 

<h4>Source: CSS</h4>
```
{{>css-button-source-css}}
``` 
