<div class="intro">
    <p>In this example, we'll look at a few ways to provide additional styles to the `'cssbuttons'` module.</p>
</div>

<link rel="stylesheet" href='http://derek.io/~/yui/yui3/src/button/css/cssbuttons.css'></link>
<style>{{>css-button-source-css}}</style>

<div class="example">
    {{>css-button-source}}
</div>

<h4>CSS</h4>
```
{{>css-button-source-css}}
``` 

<h4>HTML</h4>
```
{{>css-button-source}}
``` 

