<link rel="stylesheet" href='{{yuiBuildUrl}}/cssbutton/cssbutton.css'></link>
<style>{{>cssbutton-source-css}}</style>

<div class="intro">
    <p>In this example, we'll look at a few ways to use the `'cssbutton'` module to enhance the look &amp; feel of the default browser buttons.</p>
</div>

<div class="example">
    {{>cssbutton-source}}
</div>

<h4>Source: HTML</h4>
```
{{>cssbutton-source}}
``` 

<h4>Source: CSS</h4>
```
{{>cssbutton-source-css}}
``` 
