<!-- Include the cssbutton stylesheet -->
<link rel="stylesheet" href='{{yuiBuildUrl}}/cssbutton/cssbutton.css'>
<style>{{>cssbutton-source-css}}</style>

<div class="intro">
    <p>In this example, we'll look at a few ways to use the `'cssbutton'` module to enhance the look &amp; feel of the default browser buttons.</p>
</div>

<div class="example">
    {{>cssbutton-source}}
</div>


<p>YUI's Button component was designed with the idea in mind that sometimes you may only want button styles, without the need for any JavaScript functionality.  Instead of `use('button', ...)`, you can just include the `cssbutton` module.  This can be done dynamically with `use('cssbutton')`, or statically with a `link` tag.</p>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/{{yuiVersion}}/build/cssbutton/cssbutton.css">
```




<h4>Source: HTML</h4>
```
{{>cssbutton-source}}
```

<h4>Source: CSS</h4>
```
{{>cssbutton-source-css}}
```
