<link rel="stylesheet" href='{{yuiBuildUrl}}/cssbutton/cssbutton.css'></link>
<style>{{>cssbutton-source-css}}</style>

<div class="intro">
    <p>`'cssbutton'` is a CSS module that is intended to enhance the look &amp; feel of the default browser buttons. In this example, we'll look at a few ways to use the module for some base styles.</p>
</div>

<h2>Getting Started</h2>
<h3>Include Dependencies</h3>

<p>To use `cssbutton`, include the following source file in your web page:</p>
```
<link rel="stylesheet" href="http://yui.yahooapis.com/{{yuiVersion}}/build/cssbutton/cssbutton.css">
```

<h3>Using cssbutton</h3>
<p>Add a `yui3-button` class to any HTML elements you would like to visually appear as a button.</p>

<h2>Demo</h2>
<p>Here you will find various uses of tags, styles, height, colors, images, and other common use-cases for buttons.  Source HTML &amp; CSS can be found below.</p>

<div class="example">
    {{>cssbutton-source}}
</div>

<h4>Source: HTML</h4>
```
{{>cssbutton-source}}
``` 

<h4>Source: CSS</h4>
```
{{>cssbutton-source-css}}
``` 
