<div class="intro">
    <p>In this example, we'll look at a few ways to create buttons using the `'button'` module, which combines `'button-core'`, `'widget'`, and uses and `'cssbutton'` for styling.</p>
</div>

<div class="example yui3-skin-sam">
    {{>simple-button-source}}
</div>

<h4>Source: HTML</h4>
```
{{>simple-button-source-html}}
```
<h4>Source: JavaScript</h4>
```
{{>simple-button-source-js}}
```
