.yui3-skin-night .yui3-panel {
    color: #FFFFFF;
    font-family: HelveticaNeue, arial, helvetica, clean, sans-serif;
}

.yui3-skin-night .yui3-widget-mask {
    background-color: black;
    zoom: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.yui3-skin-night .yui3-panel-content {
    background: #6D6E6E;
    -webkit-box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    border: 1px solid black;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.yui3-skin-night .yui3-panel-content .yui3-widget-hd {
    padding: 11px 57px 11px 22px;   /* Room for close button. */
    min-height: 17px;               /* For the close button */
    _height: 17px;                  /* IE6 */
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: bold;
    color: white;
    background-color: #555658;
	background: -moz-linear-gradient(
		0% 100% 90deg,
		#343536 0%,
		#555658 96%,
		#3E3F41 100%
	);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#343536),
        color-stop(0.96, #555658),
        to(#3E3F41)
    );
}
.yui3-skin-night .yui3-panel-content .yui3-widget-hd .yui3-widget-button-wrapper {
    padding: 11px;
}
.yui3-skin-night .yui3-panel .yui3-panel-content .yui3-widget-bd {
    padding: 11px 22px 17px;
}
.yui3-skin-night .yui3-panel .yui3-panel-content .yui3-widget-ft {
	/*
    background: #EDF5FF;
	padding: 8px;
    border-radius: 0 0 7px 7px;
    */
    background-color: #575858;
    border-top: 1px solid #494A4A;
    padding: 17px 22px 20px;
    text-align: center;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.yui3-skin-night .yui3-panel .yui3-widget-ft .yui3-widget-button-wrapper {
    /*
    position: absolute;
    right: 0.6em;
    */
    bottom: 0;
    display: inline-block;
    position: relative;
    right: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
}
