li.yui3-treenode  {
	list-style:none;
	background-image: url(treeview-sprite.gif);
	background-repeat:no-repeat;
	cursor:pointer;
}
li.yui3-treenode {
	padding-left:18px;
	min-height:22px;
}

ul.yui3-treenode-children {
	padding:0;
	margin:0;
}

/* The following are ordered by the offset within the image sprite file.  
 If any icon was missing, it would be easy to find out that way, just looking into the sprite
 */

/* Last sibling, collapsable */
.yui3-treenode-toggle-last-minus {
    cursor:pointer ;
    background-position: 0 0px; 
}

/* Last sibling, collapsable, hover */
.yui3-treenode-toggle-last-minus:hover {
    background-position: 0 -800px; 
}
/* last sibling, no children */
.yui3-treenode-toggle-last-leaf {
    background-position: 0 -1600px; 
	cursor:pointer ;
}


/* Last sibling, expandable */
.yui3-treenode-toggle-last-plus { 
    cursor:pointer ;
    background-position: 0 -2400px; 
}

/* Last sibling, expandable, hover */
.yui3-treenode-toggle-last-plus:hover { 
    background-position: 0 -3200px; 
}


/* first or middle sibling, collapsable */
.yui3-treenode-toggle-first-minus,
.yui3-treenode-toggle-middle-minus {
    cursor:pointer ;
    background-position: 0 -4000px; 
}
.yui3-treenode-toggle-first-minus:hover,
.yui3-treenode-toggle-middle-minus:hover {
    background-position: 0 -4800px; 
}
/* first or middle sibling, no children */
.yui3-treenode-toggle-first-leaf,
.yui3-treenode-toggle-middle-leaf {
    background-position: 0 -5600px; 
	cursor:pointer ;
}


/* first or middle sibling, expandable */
.yui3-treenode-toggle-first-plus,
.yui3-treenode-toggle-middle-plus {
    cursor:pointer ;
    background-position: 0 -6400px; 
}
/* first or middle sibling, expandable, hover */
.yui3-treenode-toggle-first-plus:hover,
.yui3-treenode-toggle-middle-plus:hover {
    background-position: 0 -7200px; 
}

.yui3-treenode-toggle-first-plus     ul.yui3-treenode-children,
.yui3-treenode-toggle-middle-plus   ul.yui3-treenode-children ,
.yui3-treenode-toggle-last-plus       ul.yui3-treenode-children  {
	display:none;
}


/* ---------------------------------------------------- */


.yui3-treenode-magnet {
	color:black;
	text-decoration:none;
}

.yui3-treenode-focused  > div.yui3-treenode-content{
	background-color:cyan;
}


/* Loading icon * /
.yui3-treenode-toggle-loading { 
    width:18px; height:22px; 
    background: url(treeview-loading.gif) 0 0 no-repeat; 
}

/* the style of the text label in ygTextNode * /
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
    margin-left:2px;
    text-decoration: none;
    background-color: white; /* workaround for IE font smoothing bug * /
	cursor:pointer;
}

.ygtvcontent {
	cursor:default;
}

.ygtvfocus {
	background-color: #c0e0e0;
	border: none;
}
.ygtvfocus .ygtvlabel, .ygtvfocus .ygtvlabel:link, .ygtvfocus .ygtvlabel:visited, .ygtvfocus .ygtvlabel:hover {
	background-color: #c0e0e0;
}

.ygtvfocus  a  {
	outline-style:none;
}


.ygtvok {
    width:18px; height:22px; 
    background: url(treeview-sprite.gif) 0 -8800px no-repeat; 
}

.ygtvok:hover {
    background: url(treeview-sprite.gif) 0 -8844px no-repeat; 
}
	
.ygtvcancel {
    width:18px; height:22px; 
    background: url(treeview-sprite.gif) 0 -8822px no-repeat; 
}

.ygtvcancel:hover  {
    background: url(treeview-sprite.gif) 0 -8866px no-repeat; 
}

.ygtv-label-editor {
	background-color:#f2f2f2;
	border: 1px solid silver;
	position:absolute;
	display:none;
	overflow:hidden;
	margin:auto;
	z-index:9000;
}

.ygtv-edit-TextNode  {
	width: 190px;
}

.ygtv-edit-TextNode .ygtvcancel, .ygtv-edit-TextNode .ygtvok  {
	border:none;
}

.ygtv-edit-TextNode .ygtv-button-container {
	float: right;
}

.ygtv-edit-TextNode .ygtv-input  input{
	width: 140px;
}

.ygtv-edit-DateNode .ygtvcancel {
	border:none;
}
.ygtv-edit-DateNode .ygtvok  {
	display:none;
}

.ygtv-edit-DateNode   .ygtv-button-container {
	text-align:right;
	margin:auto;
}