<div id="demo" class="yui3-skin-sam">
    <div id="yconsole"></div>
    <button id="log" type="button">Log a message</button>
    <button id="toggle_info" type="button">Hide info messages</button>
</div>
