<!DOCTYPE HTML>
<html>
<script src="http://yui.yahooapis.com/{{{yuiVersion}}}/build/yui/yui-min.js"></script>

<body class="yui3-skin-sam"> {{>need-skin-comment}}
    {{>dial-basic-markup}}
</body>

<script>
{{>dial-basic-script}}
</script>
</html>
