<!DOCTYPE HTML>
<html>
<script src="http://yui.yahooapis.com/{{{yuiVersion}}}/build/yui/yui-min.js"></script>

<style>
{{>dial-image-surrounding-css}}
</style>

<body class="yui3-skin-sam"> {{>need-skin-comment}}
{{>dial-image-surrounding-markup}}
</body>

<script>
{{>dial-image-surrounding-script}}
</script>
</html>
