<style type="text/css">
.example {
    text-align:center;
    *text-align: left;
}
{{>dial-image-surrounding-css}}
</style>

{{>dial-image-surrounding-markup}}

<script>
{{>dial-image-surrounding-script}}
</script>
