.yui3-g-responsive {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
}
.yui3-g-responsive img {
    max-width: 100%;
}

@media (min-width:980px) { 
    .yui3-visible-phone {
        display: none;
    }
    .yui3-visible-tablet {
        display: none;
    }
    .yui3-hidden-desktop {
        display: none;
    }
}
@media (max-width:480px) { 
    .yui3-g-responsive > [class ^= "yui3-u"] {
        width: 100%;
    }
}
@media (max-width:767px) { 
    .yui3-g-responsive > [class ^= "yui3-u"] {
        width: 100%;
    }
    .yui3-hidden-phone {
        display: none;
    }
    .yui3-visible-desktop {
        display: none;
    }
}
@media (min-width:768px) and (max-width:979px) { 
    .yui3-hidden-tablet {
        display: none;
    }
    .yui3-visible-desktop {
        display: none;
    }
}