
.example {
    font-family: sans-serif;
    font-size:13px;
    color: #333;
    line-height:18px;
    width:600px;
    margin:0 auto;
    margin-top:60px;
    margin-bottom:20px;
}
.example .yui3-overlay {
    background:#161e31;
    color:white;
    padding:10px;
    border-radius:3px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    overflow:hidden;
}
.example .yui3-overlay a {
    text-decoration:none;
    color: #30bef2;
}
.example .yui3-overlay a:hover {
    color: #8cd7f2;
}
