.yui-overlay {
    position:absolute
}

.yui-overlay.yui-hidden {
    display:none;
}

.yui-overlay hd {
    border:1px solid red;
}

.yui-overlay bd {
    border:1px solid blue;
}

.yui-overlay ft {
    border:1px solid green;
}