<style>
.example h3 {
    color: #666;
    margin: 0.5em 0;
}
</style>
<h3>Today's Browser News</h3>
<div id="demo"></div>
<script type="text/javascript">
YUI().use('tabview', 'yql', function(Y) {
    Y.Plugin.TabYQL = function(config) {
        Y.Plugin.TabYQL.superclass.constructor.apply(this, arguments); 
    };

    /* Extend the base plugin class */
    Y.extend(Y.Plugin.TabYQL, Y.Plugin.Base, {
        initializer: function() {
            var tab = this.get('host');
            tab.after('selectedChange', Y.bind(this.afterSelectedChange, this));
        },

        afterLoad: function(r) {
            var results = (r.query) ? r.query.results.item : null,
                content = '',
                tab = this.get('host');

            if (results) {
                Y.each(results, function(fields) {
                    content += '<li><a href="' + fields.link + '">' +
                        fields.title + '</a></li>';
                });

                this.set('loaded', true);
                content = '<ul>' + content + '</ul>'
            } else {
                content = this.get('errorMsg');
            }

            tab.set('content', content);
        },

        afterSelectedChange: function(e) {
            // only load if not already loaded
            if (!this.get('loaded')) {
                this.load(this.get('query'), this.afterLoad);
            }
        },

        load: function(query, afterLoad) {
            Y.YQL(query, Y.bind(afterLoad, this));
        }
    }, {
        ATTRS: {
            query: {
                value: null 
            },

            errorMsg: {
                value: 'There was a problem loading the content' 
            }
        },

        NS: 'yql',
        NAME: 'tabYQL'
    });

    var tabview = new Y.TabView(),
        feeds = {
            Chrome: 'chrome+browser',
            Firefox: 'firefox+browser',
            Safari: 'safari+browser',
            Explorer: 'explorer+browser',
            Opera: 'opera+browser'
        };

    Y.each(feeds, function(feed, label) {
        var tab = new Y.Tab({
            label: label,
            content: 'loading...',
        });

        tab.plug(Y.Plugin.TabYQL, {
            query: 'select title, link from rss where ' +
                'url="http://search.news.yahoo.com/rss?p=' +
                feed + '"'
        });

        tabview.add(tab);
    });

    tabview.render('#demo');
});
</script>
