/* Collapse/Expand */
.yui-skin-sam .yui-log-expand,
.yui-skin-sam .yui-log-collapse .yui-log-collapse {
    display: none;
}
.yui-skin-sam .yui-log-collapse .yui-log-expand {
    display: inline;
}
.yui-log-collapse .yui-log-console,
.yui-log-collapse .yui-log-ft {
    display: none;
}
