<script>
YUI.GlobalConfig = {
    modules: {
        'jsonp-github-mock': {
            fullpath: '../assets/jsonp/jsonp-github-mock.js',
            requires: [],
            condition: {
                trigger: 'jsonp',
                when: 'after',
                test: function () {
                    return (window.location.search.match(/[?&]mock=([^&]+)/) || [])[1] === 'true';
                }
            }
        }
    }
};
</script>
