<h1>Header</h1>

<div class="yui3-g" id="bd">
<div class="yui3-u" id="side">
    <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>

<div class="yui3-u" id="main">
   <div id="productsandservices" class="yui3-menu yui3-menu-horizontal yui3-splitbuttonnav">
        <div class="yui3-menu-content">
            <ul class="first-of-type">
                <li>

                    <span class="yui3-menu-label">
                        <a href="http://answers.yahoo.com">Answers</a>
                        <a href="#answers-options" class="yui3-menu-toggle">Answers Options</a>
                    </span>

                    <div id="answers-options" class="yui3-menu">
                        <div class="yui3-menu-content">
                            <ul>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://answers.yahoo.com/dir/">Answer</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://answersonthestreet.yahoo.com/">Answers on the Street</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://answers.yahoo.com/question/;_ylt=Av3Nt22Mr7YNs651NWFv8YUPzKIX;_ylv=3?link=ask">Ask</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://answers.yahoo.com/dir/;_ylt=Aqp_jJlsYDP7urcq2WGC6HBJxQt.;_ylv=3?link=over&amp;amp;more=y">Discover</a></li>
                            </ul>
                        </div>
                    </div>

                </li>

                <li>

                    <span class="yui3-menu-label">
                        <a href="http://www.flickr.com">Flickr</a>
                        <a href="#flickr-options" class="yui3-menu-toggle">Flickr Options</a>
                    </span>

                    <div id="flickr-options" class="yui3-menu">
                        <div class="yui3-menu-content">
                            <ul>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com/explore/">Explore</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com/groups/">Groups</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com/photos/organize/">Organize Your Photos</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://flickr.com/photos/friends/">Photos From Contacts</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com/signup/">Sign Up</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://www.flickr.com/tour/">Take a Tour</a></li>
                            </ul>
                        </div>
                    </div>

                </li>

                <li>

                    <span class="yui3-menu-label">
                        <a href="http://mobile.yahoo.com">Mobile</a>
                        <a href="#mobile-options" class="yui3-menu-toggle">Mobile Options</a>
                    </span>

                    <div id="mobile-options" class="yui3-menu">
                        <div class="yui3-menu-content">
                            <ul>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/developers">Developers Home</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/mail">Mail</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/gallery">Widget Gallery</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/oneconnect">Y! oneConnect</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/go">Yahoo! Go</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/iphone">Yahoo! on the iPhone</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://mobile.yahoo.com/mail">More Mobile Services</a></li>
                            </ul>
                        </div>
                    </div>

                </li>

                <li>

                    <span class="yui3-menu-label">
                        <a href="http://upcoming.yahoo.com/">Upcoming</a>
                        <a href="#upcoming-options" class="yui3-menu-toggle">Upcoming Options</a>
                    </span>

                    <div id="upcoming-options" class="yui3-menu">
                        <div class="yui3-menu-content">
                            <ul>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/event/add/">Add New Event</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/event/">Events</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/friend/">Friends</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/group/">Groups</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/place/">Places</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://upcoming.yahoo.com/popular/">Popular</a></li>
                            </ul>
                        </div>
                    </div>

                </li>

                <li>

                    <span class="yui3-menu-label">
                        <a href="http://forgood.yahoo.com/index.html">Yahoo! for Good</a>
                        <a href="#for-good-options" class="yui3-menu-toggle">Yahoo! for Good Options</a>
                    </span>

                    <div id="for-good-options" class="yui3-menu">
                        <div class="yui3-menu-content">
                            <ul>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/take_action/donate.html">Donate</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/everyday_heroes/index.html">Everyday Heroes</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/go_green/index.html">Go Green</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/good_causes/index.html">Good Causes</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/purple_acts/index.html">Purple Acts</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/social_responsibility/index.html">Social Responsibility</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/take_action/index.html">Take Action</a></li>
                                <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://forgood.yahoo.com/take_action/volunteer.html">Volunteer</a></li>
                            </ul>
                        </div>
                    </div>

                </li>

            </ul>
        </div>
    </div>

    <p class="first-of-type">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <form>

        <div>
            <label for="field-1">Field One</label>
            <input type="text" id="field-1" name="field-1">
        </div>

        <div>
            <label for="field-2">Field Two</label>
            <input type="text" id="field-2" name="field-2">
        </div>

        <div>
            <label for="field-3">Field Three</label>
            <select id="field-3" name="field-3">
                <option value="1">Field Three - Option One</option>
                <option value="2">Field Three - Option Two</option>
                <option value="3">Field Three - Option Two</option>
            </select>
        </div>

    </form>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</div>
</div>

<div id="footer">
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sit amet metus. Nunc quam elit, posuere nec, auctor in, rhoncus quis, dui. Aliquam erat volutpat. Ut dignissim, massa sit amet dignissim cursus, quam lacus feugiat.</p>
</div>

<script type="text/javascript">

    //  Call the "use" method, passing in "node-menunav".  This will load the
    //  script and CSS for the MenuNav Node Plugin and all of the required
    //  dependencies.

    YUI({
        modules: {
            "node-menunav-core-css": {
                type: "css",
                path: "node-menunav/assets/node-menunav-core.css"
            },
            "custommenunavskin": {
                type: "css",
                fullpath: "{{componentAssets}}/example7.css",
                supersedes: ['skin-sam-node-menunav']
            }
        }

    }).use('node-menunav', "node-menunav-core-css", "custommenunavskin", function(Y, result) {

        //  Retrieve the Node instance representing the root menu
        //  (<div id="productsandservices">) and call the "plug" method
        //  passing in a reference to the MenuNav Node Plugin.

        var menu = Y.one("#productsandservices");

        menu.plug(Y.Plugin.NodeMenuNav, { autoSubmenuDisplay: false, mouseOutHideDelay: 0 });

        //  Show the menu now that it is ready

        menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");

    });

</script>
{{>test-runner}}
