.yui-skin-sam .yui-console-entry-pass .yui-console-entry-cat {
    background-color: green;
    color: #fff;
}

.yui-skin-sam .yui-console-entry-fail .yui-console-entry-cat {
    background-color: red;
    color: #fff;
}

.yui-skin-sam .yui-console-entry-ignore .yui-console-entry-cat {
    background-color: #666;
}
