.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control,
.yui3-skin-sam .yui3-paginator-list .yui3-paginator-page {
    border: solid 1px #CBCBCB;
    display: block;
    margin: 0 3px;
    padding: 0 .5em;
    text-align: center;
    text-decoration: none;
    line-height: 1.7em;
    color: #4A4A4A;
    font-family: arial,san-serif;
}

.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control {
    background-color: #E6E6E6;
    border-radius: 4px;
}

.yui3-skin-sam .yui3-paginator-list .yui3-paginator-page {
    margin: 0;
    border: none;
}

.yui3-skin-sam .yui3-paginator-list .yui3-paginator-page:hover {
    background-color: #bfdaff;
    color: #000;
}

.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control:hover {
    background-color: #d6d6d6;
    color: #3a3a3a;
}

.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control-selected,
.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control-selected:hover {
    cursor: default;
    font-weight: bold;
    background-color: #2647a0;
    color: #fff;
}

.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control-disabled,
.yui3-skin-sam .yui3-paginator-list .yui3-paginator-control-disabled:hover {
    cursor: default;
    opacity: 0.55;
    filter: alpha(opacity=55);
}