<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>YUI 3 - Yahoo! User Interface Library</title>
    {{>main-head}}
</head>
<body>

<h1>YUI 3 - Yahoo! User Interface Library</h1>

<p>
YUI 3 is Yahoo!'s advanced JavaScript and CSS library. It powers the Yahoo! homepage, Yahoo! Mail, Yahoo! Search, and many other Yahoo! sites.
</p>

<p>
The library includes a set of core CSS and JavaScript components, a module-based loading and dependency management infrastructure, a widget infrastructure, and a full suite of utilities and widgets.
</p>

<p>
All YUI components are <a href="http://developer.yahoo.com/yui/license.html">BSD licensed</a> and are <a href="https://github.com/yui">available for forking and contribution on GitHub</a>. In addition to the core components included in the library, there is also a <a href="http://yuilibrary.com/gallery/">gallery of components</a> created by developers in the YUI community that provide additional functionality to speed you on your way to developing robust web applications.
</p>

<p>
YUI developers and guest contributors blog on the <a href="http://yuiblog.com/">YUI Blog</a>, and community discussion occurs <a href="http://yuilibrary.com/forum/">in the forums</a> and on IRC (#yui on <a href="http://freenode.net/">Freenode</a>).
</p>

<h2 id="downloads">Downloads</h2>

<p>
{TODO: Awesome download buttons and dependency configuration links go here}
</p>

<h2 id="contents">On This Page</h2>

<ul class="toc">
    <li>
        <a href="#docs">Documentation</a>
        <ul class="toc">
            <li><a href="#getting-started">Getting Started</a></li>
            <li><a href="#components">Components</a></li>
            <li><a href="#other-docs">Other Documentation</a></li>
        </ul>
    </li>
    <li><a href="#licensing">Licensing</a></li>
    <li><a href="#support">Support &amp; Community</a></li>
    <li><a href="#bugs">Filing Bugs &amp; Feature Requests</a></li>
</ul>

<h2 id="docs">Documentation</h2>

<h3 id="getting-started">Getting Started</h3>

<h3 id="components">Components</h3>


<h3 id="other-docs">Other Documentation</h3>

<ul>
    <li><a href="http://developer.yahoo.com/yui/3/api/">API Docs</a></li>
    <li><a href="http://developer.yahoo.com/yui/3/examples/">Examples</a></li>
    <li><a href="http://developer.yahoo.com/yui/3/configurator/">Dependency Configurator</a></li>
</ul>

{{>main-foot}}

</body>
</html>
