<div id="demo" class="yui3-skin-sam yui3-cssreset">
    <div id="mytree"></div>
</div>

<script type="text/javascript">
YUI().use('treeview',  function(Y) {
    
    // Create a new instance of treeview, with some subtree and leaves placing it in 
    // #mytree container,  
     var tree = new Y.TreeView({
       label : "This my tree",
       children: [
           { label: "Leaf One" },
           { label: "Leaf Two" },
           { type: "TreeView", label: "Subtree", children: [
              {  label: "Subtree - Leaf One" },
              {  label: "Subtree - Leaf Two" },
              {  label: "Subtree - Leaf Three" },
              {  label: "Subtree - Leaf Four" }
           ]}
       ]
    });
    
    tree.render("#mytree");
});
</script>
