<div id="dock"></div>

<div id="drag">Drag #1</div>

<div id="anim1" class="anim">Anim #1</div>
<div id="anim2" class="anim">Anim #2</div>
<div id="anim3" class="anim">Anim #3</div>
<div id="anim4" class="anim">Anim #4</div>
<div id="anim5" class="anim">Anim #5</div>

