    <div id="play">
        <div id="drag1" class="drag">Drag #1</div>
        <div id="drag2" class="drag">Drag #2</div>
        <div id="drag3" class="drag">Drag #3</div>
        <div id="drag4" class="drag">Drag #4</div>
        <div id="drag5" class="drag">Drag #5</div>
        <div id="drop"></div>
    </div>

