    #demo {
        height: 100px;
        width: 100px;
        border: 1px solid black;
        background-color: #8DD5E7;
        padding: 7px;
        position: relative;
    }
    #demo h2 {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 110%;
        color: black;
        font-weight: bold;
        cursor: move;
    }

