<script>
YUI.GlobalConfig = {
    modules: {
        'yql-api-mock': {
            fullpath: '../assets/dd/yql-api-mock.js',
            condition: {
                trigger: ['yql', 'yql-jsonp'],
                when: 'instead',
                test: function () {
                    return (window.location.search.match(/[?&]mock=([^&]+)/) || [])[1] === 'true';
                }
            }
        }
    }
};
</script>
