/* foundational CSS */
.yui3-datatable-scrollable-x {
    *overflow-x: hidden;
    *position: relative;
}
.yui3-datatable-scrollable-y {
    *overflow-y: hidden;
    *position: relative;
}

.yui3-datatable-scrollable-y .yui3-datatable-x-scroller {
    *overflow-y: hidden;
    *position: relative;
}

.yui3-datatable-scrollable-y .yui3-datatable-content {
    /* To allow absolute positioning of fixed headers and virtual scrollbar */
    position: relative;
}

.yui3-skin-sam .yui3-datatable-scroll-columns {
    position: absolute;
    z-index: 2;
}

.yui3-datatable-scrollable-x .yui3-datatable-x-scroller {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.yui3-datatable-scrollable-y .yui3-datatable-y-scroller {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.yui3-datatable-scrollable-x .yui3-datatable-caption-table {
    width: 100%;
}

.yui3-datatable-scrollbar {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 2;
}

.yui3-datatable-scrollbar div {
    position: absolute;
    width: 1px;
    visibility: hidden;
}
