/* foundational CSS */
.yui3-datatable-scrollable-x .yui3-datatable-content {
    overflow-x: auto;
}

.yui3-datatable-scrollable-y .yui3-datatable-content {
    /* To keep table rows from visibly overflowing the configured height during
       height calculations */
    overflow-y: hidden;
}
.yui3-datatable-scrollable-y .yui3-datatable-data-container {
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    overflow-y: auto;
}
