<div id="template" class="yui3-skin-sam dt-example"></div>

<div id="function" class="yui3-skin-sam dt-example"></div>

<div id="dates" class="yui3-skin-sam dt-example"></div>

<script type="text/javascript">
YUI().use("datatype-date", "datatable-base", function (Y) {
    var colsTemplate = ["id","name", {key:"price", formatter:"${value}"}],
    dataTemplate = [
        {id:"ga-3475", name:"gadget", price:6.99},
        {id:"sp-9980", name:"sprocket", price:3.75},
        {id:"wi-0650", name:"widget", price:4.25}
    ],
    dtTemplate = new Y.DataTable({columns:colsTemplate, data:dataTemplate,
        caption:"Data formatting with string template"}).render("#template"),
    calculate = function(o){
        return "$" + (o.data.price - o.data.cost).toFixed(2);
    },
    colsFunction = [
        "id",
        "name",
        { key: "profit", formatter: calculate }
    ],
    dataFunction = [
        {id:"ga-3475", name:"gadget", price:6.99, cost:4.99},
        {id:"sp-9980", name:"sprocket", price:3.75, cost:2.75},
        {id:"wi-0650", name:"widget", price:4.25, cost:3.25}
    ],
    dtFunction = new Y.DataTable({columns:colsFunction, data:dataFunction,
        caption:"Data formatting with custom function"}).render("#function"),
    formatDates = function(o){
        return o.value &&
            Y.DataType.Date.format(o.value, {format:"%m/%d/%Y"});
    },
    colsDates = [
        "id",
        "name",
        { key: "date", formatter: formatDates, emptyCellValue: "(unknown)" }
    ],
    dataDates = [
        {id:"ga-3475", name:"gadget", date:new Date(2006, 5, 1)},
        {id:"sp-9980", name:"sprocket", date:new Date(2004, 8, 16)},
        {id:"wi-0650", name:"widget"} // no date for this record
    ],
    dtDates = new Y.DataTable({
        columns: colsDates,
        data: dataDates,
        caption: "Data formatting with DataType.Date"
    }).render("#dates");
});
</script>
