<div id="nested" class="yui3-skin-sam dt-example"></div>

<script type="text/javascript">
YUI().use("datatable-base", function (Y) {
    var nestedCols = [
        {label:"Train Schedule", children:[
            {key: "track"},
            {label:"Route", children: [
                {key:"from"},
                {key:"to"}
            ]}
        ]}
    ],
    data = [
        {track:"1", from:"Paris", to:"Amsterdam"},
        {track:"2", from:"Paris", to:"London"},
        {track:"3", from:"Paris", to:"Zurich"}
    ],

    dt = new Y.DataTable({
        columns: nestedCols,
        data   : data,
        summary: "Train schedule",
        caption:"Table with nested column headers"})
    .render("#nested");
});
</script>
