    <style scoped>
        .example {
            position: relative;
        }
        th sup {
            font-size: 70%;
        }
        .filters {
            background: #efefef;
            border: 1px solid #ddd;
            padding: 10px;
            position: relative;
        }

        .filters:hover {
            height: auto;
        }
        .filters h4 {
            margin-top: 0;
            color: #555;
        }
        .filters ul {
            margin: 0 0 10px;
            padding: 0;
            border: 1px solid #ddd;
            border-radius: 3px;
            background: #fafafa;
        }
        .filters li {
            list-style: none;
            padding: 5px;
        }
        .filters li + li {
            border-top: 1px solid #DBDFEA;
        }
        .filters li:hover {
            background-color: #fdfdfd;
            border-radius: 2px;
        }
        .filters .remove {
            float: right;
        }
        .filters .add {
            position: absolute;
            right: 15px;
        }
    </style>
