.yui3-paginator-list .yui3-paginator-control,
.yui3-paginator-list .yui3-paginator-page {
    display: block;
    padding: 0 .5em;
    text-align: center;
    text-decoration: none;
}

.yui3-paginator-list ul {
    margin: 0; /* needed for IE */
    padding: 0;
}

.yui3-paginator-list .yui3-paginator-control-selected,
.yui3-paginator-list .yui3-paginator-control-selected:hover {
    cursor: default;
    font-weight: bold;
}

.yui3-paginator-list .yui3-paginator-control-disabled,
.yui3-paginator-list .yui3-paginator-control-disabled:hover {
    cursor: default;
}