body {
    background: #fff;
    color: #000;
    font: 13px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#container { display: none; }
.hidden { display: none; }

/* -- Results Table --------------------------------------------------------- */
.yui3-performancereport {
    background: #fff;
    border: 1px solid #afafaf;
    border-spacing: 1px;
    font-size: 12px;
    width: 100%;
}

.yui3-performancereport table { width: 100%; }

.yui3-performancereport td p {
    color: #999;
    margin: 0.5em 0 0.2em;
    text-align: center;
}

.yui3-performancereport tfoot td { display: none; }

.yui3-performancereport.running tfoot td {
    background-image: url(loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    display: table-cell;
    height: 35px;
}

.yui3-performancereport thead th {
    background: #efefef;
    border-bottom: 1px solid #cfcfcf;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
}

.yui3-performancereport tbody td {
    border-bottom: 1px solid #efefef;
    font: 11px Menlo, 'Bitstream Vera Sans Mono', Monaco, Consolas, monospace;
    line-height: 20px;
    padding: 3px 5px;
}

.yui3-performancereport tr.result { cursor: pointer; }
.yui3-performancereport tr.result.fail { color: #ff0000; }
.yui3-performancereport tr.result:hover { background: #f5f5f5; }
.yui3-performancereport tr:last-child td { border: 0; }

/* Column-specific styles */
.yui3-performancereport .test { width: 50%; }
.yui3-performancereport td.test .bd { position: relative; }

.yui3-performancereport td.test .bd img { 
    position: absolute;
    right: 0;
}

.yui3-performancereport td.mediandev,
.yui3-performancereport td.stdev {
    color: #666;
}

.yui3-performancereport td.median { font-weight: bold; }

/* Code expando */
.yui3-performancereport tr.code pre {
    border-left: 4px solid #dfdfdf;
    line-height: 1.2;
    padding: 0 0 0 7px;
}

/* -- Snapshot -------------------------------------------------------------- */
#result-snapshot {
    font: 11px Menlo, 'Bitstream Vera Sans Mono', Monaco, Consolas, monospace;
    height: 200px;
    width: 99%;
}

/* -- Comparison Results Table ---------------------------------------------- */
.yui3-comparisonreport .group { text-align: center; }

.yui3-comparisonreport td.group { background-color: #dfffe6; }
.yui3-comparisonreport td.group.empty { background-color: #fff; }
.yui3-comparisonreport td.group.fail { background-color: #ffdfdf; }

.yui3-comparisonreport td.group .mediandev { color: #666; }
