
<div id="doc3" class="yui-t1">
    <div id="bd">
        <div id="yui-main">
	        <div class="yui-b">
                <div class="yui-g">
                    <ul>
                    </ul>
	            </div>
            </div>
	    </div>
	    <div class="yui-b">
            <ul id="photoList">
                <li class="all selected"><a href="#">All Photos</a></li>
                <li id="a_1"><a href="#">Album #1<span>(0)</span></a></li>
                <li id="a_2"><a href="#">Album #2<span>(0)</span></a></li>
                <li id="a_3"><a href="#">Album #3<span>(0)</span></a></li>
                <li id="a_4"><a href="#">Album #4<span>(0)</span></a></li>
            </ul>
            <p>Click and drag a photo to an album above. You can also Shift + Click to select and drag multiple photos.</p>
            <p>Click on an album to view the photos that you added.</p>
            <p>You can also use the slider at the bottom to adjust the size of the image to help fit them on your screen.</p>
        </div>
    </div>
    <div id="ft" class="loading"><strong></strong><div class="horiz_slider"></div><em></em></div>
</div>


<script>
{{> photo-browser-source-js}}
</script>
