<div class="intro">
<p>This is a portal style example using Drag & Drop event bubbling and animation.</p>
</div>

<div class="example newwindow">
    <a href="portal-example.html" target="_blank" class="button">
        View Example in New Window
    </a>
</div>

<h2>Full example source</h2>

```
{{>portal-drag-js}}
```
