<div class="intro">
<p>This example shows the use of the drag shim when dragging nodes over other troublesome nodes.</p>
</div>

<div class="example">
    {{>shim-drag-source}}
</div>

<h3>Using the shim</h3>
<p>Full source code for this example.</p>

```
{{>shim-drag-source-js}}
```
