.yui3-skin-sam .yui3-datatable-y-scroller .yui3-datatable-y-scroll-table {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 0 none;
}
.yui3-skin-sam .yui3-datatable-scrollable-x .yui3-datatable-x-scroller {
    border-right: 1px solid #cbcbcb;
    border-left: 1px solid #cbcbcb;
}
.yui3-skin-sam .yui3-datatable-scrollable-x .yui3-datatable-table {
    border-right: 0 none;
    border-left: 0 none;
}
.yui3-skin-sam .yui3-datatable-scrollable-x .yui3-datatable-y-scroller {
    border-bottom: 0 none;
    border-left: 0 none;
}
.yui3-skin-sam .yui3-datatable-y-scroller {
    border: 1px solid #cbcbcb;
    border-top: 0 none;
}
.yui3-skin-sam .yui3-datatable-scrollable-y .yui3-datatable-table {
    border-bottom: 0 none;
}
