/* basic skin styles */
.yui3-skin-sam .yui3-basedatatable table {
    margin:0;padding:0;
    font-family:arial;font-size:inherit;
    border-collapse:separate;*border-collapse:collapse;border-spacing:0; /* since ie6 and ie7 behave differently */
    border:1px solid #7F7F7F;
}
.yui3-skin-sam .yui3-basedatatable thead {border-spacing:0;} /* for safari bug */

.yui3-skin-sam .yui3-basedatatable caption {
    color:#000000;
    font-size:85%;
    font-weight:normal;
    font-style:italic;
    line-height:1;
    padding:1em 0pt;
    text-align:center;
}

.yui3-skin-sam .yui3-basedatatable th {
    background:#D8D8DA url(../../../../assets/skins/sam/sprite.png) repeat-x 0 0; /* header gradient */
}
.yui3-skin-sam .yui3-basedatatable th,
.yui3-skin-sam .yui3-basedatatable th a {
    font-weight:normal;text-decoration:none;color:#000; /* header text */
    vertical-align:bottom;
}
.yui3-skin-sam .yui3-basedatatable th {
    margin:0;padding:0;
    border:none;
    border-right:1px solid #CBCBCB;/*  inner column border */
}
.yui3-skin-sam .yui3-basedatatable tr.yui3-basedatatable-first td {
    border-top:1px solid #7F7F7F;  /* tbody top border  */
}
.yui3-skin-sam .yui3-basedatatable th .yui3-basedatatable-liner {
    white-space:nowrap;
}
.yui3-skin-sam .yui3-basedatatable-liner {
    margin:0;padding:0;
    padding:4px 10px 4px 10px; /* cell padding */
}
.yui3-skin-sam .yui3-basedatatable-coltarget {
    width: 5px;
    background-color: red;
}
.yui3-skin-sam .yui3-basedatatable td {
    margin:0;padding:0;
    border:none;
    border-right:1px solid #CBCBCB; /* inner column border */
    text-align:left;
}
.yui3-skin-sam .yui3-basedatatable-list td {
    border-right:none; /* disable inner column border in list mode */
}
.yui3-skin-sam .yui3-basedatatable-resizer {
    width:6px;
}

/* mask */
.yui3-skin-sam .yui3-basedatatable-mask {
    background-color: #000;
    opacity: .25;
    filter: alpha(opacity=25);  /* Set opacity in IE */
}

/* messaging */
.yui3-skin-sam .yui3-basedatatable-message  {
    background-color:#FFF;
}

/* scrolling */
.yui3-skin-sam .yui3-basedatatable-scrollable table {border:none;}
.yui3-skin-sam .yui3-basedatatable-scrollable .yui3-basedatatable-hd {border-left:1px solid #7F7F7F;border-top:1px solid #7F7F7F;border-right:1px solid #7F7F7F;}
.yui3-skin-sam .yui3-basedatatable-scrollable .yui3-basedatatable-bd {border-left:1px solid #7F7F7F;border-bottom:1px solid #7F7F7F;border-right:1px solid #7F7F7F;background-color:#FFF;}
.yui3-skin-sam .yui3-basedatatable-scrollable .yui3-basedatatable-data tr.yui3-basedatatable-last td {border-bottom:1px solid #7F7F7F;}

/* sortable columns */
.yui3-skin-sam th.yui3-basedatatable-asc,
.yui3-skin-sam th.yui3-basedatatable-desc {
    background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 -100px; /* sorted header gradient */
}
.yui3-skin-sam th.yui3-basedatatable-sortable .yui3-basedatatable-label {
    margin-right:10px;
}
.yui3-skin-sam th.yui3-basedatatable-asc .yui3-basedatatable-liner {
    background:url(dt-arrow-up.png) no-repeat right; /* sorted header gradient */
}
.yui3-skin-sam th.yui3-basedatatable-desc .yui3-basedatatable-liner {
    background:url(dt-arrow-dn.png) no-repeat right; /* sorted header gradient */
}

/* editing */
tbody .yui3-basedatatable-editable {
    cursor:pointer;
}
.yui3-basedatatable-editor {
    text-align:left;
    background-color:#F2F2F2;
    border:1px solid #808080;
    padding:6px;
}
.yui3-basedatatable-editor label {
    padding-left:4px;padding-right:6px;
}
.yui3-basedatatable-editor .yui3-basedatatable-button {
    padding-top:6px;text-align:right;
}
.yui3-basedatatable-editor .yui3-basedatatable-button button {
    background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 0;
    border:1px solid #999;
    width:4em;height:1.8em;
    margin-left:6px;
}
.yui3-basedatatable-editor .yui3-basedatatable-button button.yui3-basedatatable-default {
    background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 -1400px;
    background-color: #5584E0;
    border:1px solid #304369;
    color:#FFF
}
.yui3-basedatatable-editor .yui3-basedatatable-button button:hover {
    background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 -1300px;
    color:#000;
}
.yui3-basedatatable-editor .yui3-basedatatable-button button:active {
    background:url(../../../../assets/skins/sam/sprite.png) repeat-x 0 -1700px;
    color:#000;
}

/* striping */
.yui3-skin-sam tr.yui3-basedatatable-even { background-color:#FFF; } /* white */
.yui3-skin-sam tr.yui3-basedatatable-odd { background-color:#EDF5FF; } /* light blue */
.yui3-skin-sam tr.yui3-basedatatable-even td.yui3-basedatatable-asc,
.yui3-skin-sam tr.yui3-basedatatable-even td.yui3-basedatatable-desc { background-color:#EDF5FF; } /* light blue sorted */
.yui3-skin-sam tr.yui3-basedatatable-odd td.yui3-basedatatable-asc,
.yui3-skin-sam tr.yui3-basedatatable-odd td.yui3-basedatatable-desc { background-color:#DBEAFF; } /* dark blue sorted */

/* disable striping in list mode */
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-even { background-color:#FFF; } /* white */
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-odd { background-color:#FFF; } /* white */
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-even td.yui3-basedatatable-asc,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-even td.yui3-basedatatable-desc { background-color:#EDF5FF; } /* light blue sorted */
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-odd td.yui3-basedatatable-asc,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-odd td.yui3-basedatatable-desc { background-color:#EDF5FF; } /* light blue sorted */

/* highlighting */
.yui3-skin-sam th.yui3-basedatatable-highlighted,
.yui3-skin-sam th.yui3-basedatatable-highlighted a {
    background-color:#B2D2FF; /* med blue hover */
}
.yui3-skin-sam tr.yui3-basedatatable-highlighted,
.yui3-skin-sam tr.yui3-basedatatable-highlighted td.yui3-basedatatable-asc,
.yui3-skin-sam tr.yui3-basedatatable-highlighted td.yui3-basedatatable-desc,
.yui3-skin-sam tr.yui3-basedatatable-even td.yui3-basedatatable-highlighted,
.yui3-skin-sam tr.yui3-basedatatable-odd td.yui3-basedatatable-highlighted {
    cursor:pointer;
    background-color:#B2D2FF; /* med blue hover */
}

/* enable highlighting in list mode */
.yui3-skin-sam .yui3-basedatatable-list th.yui3-basedatatable-highlighted,
.yui3-skin-sam .yui3-basedatatable-list th.yui3-basedatatable-highlighted a {
    background-color:#B2D2FF; /* med blue hover */
}
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-highlighted,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-highlighted td.yui3-basedatatable-asc,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-highlighted td.yui3-basedatatable-desc,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-even td.yui3-basedatatable-highlighted,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-odd td.yui3-basedatatable-highlighted {
    cursor:pointer;
    background-color:#B2D2FF; /* med blue  hover */
}

/* selection */
.yui3-skin-sam th.yui3-basedatatable-selected,
.yui3-skin-sam th.yui3-basedatatable-selected a {
    background-color:#446CD7; /* bright blue selected cell */
}
.yui3-skin-sam tr.yui3-basedatatable-selected td,
.yui3-skin-sam tr.yui3-basedatatable-selected td.yui3-basedatatable-asc,
.yui3-skin-sam tr.yui3-basedatatable-selected td.yui3-basedatatable-desc {
    background-color:#426FD9; /* bright blue selected row */
    color:#FFF;
}
.yui3-skin-sam tr.yui3-basedatatable-even td.yui3-basedatatable-selected,
.yui3-skin-sam tr.yui3-basedatatable-odd td.yui3-basedatatable-selected {
    background-color:#446CD7; /* bright blue selected cell */
    color:#FFF;
}

/* enable selection in list mode */
.yui3-skin-sam .yui3-basedatatable-list th.yui3-basedatatable-selected,
.yui3-skin-sam .yui3-basedatatable-list th.yui3-basedatatable-selected a {
    background-color:#446CD7; /* bright blue selected cell */
}
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-selected td,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-selected td.yui3-basedatatable-asc,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-selected td.yui3-basedatatable-desc {
    background-color:#426FD9; /* bright blue selected row */
    color:#FFF;
}
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-even td.yui3-basedatatable-selected,
.yui3-skin-sam .yui3-basedatatable-list tr.yui3-basedatatable-odd td.yui3-basedatatable-selected {
    background-color:#446CD7; /* bright blue selected cell */
    color:#FFF;
}

/* pagination */
.yui3-skin-sam .yui3-basedatatable-paginator {
    display:block;margin:6px 0;white-space:nowrap;
}
.yui3-skin-sam .yui3-basedatatable-paginator .yui3-basedatatable-first,
.yui3-skin-sam .yui3-basedatatable-paginator .yui3-basedatatable-last,
.yui3-skin-sam .yui3-basedatatable-paginator .yui3-basedatatable-selected {
    padding:2px 6px;
}
.yui3-skin-sam .yui3-basedatatable-paginator a.yui3-basedatatable-first,
.yui3-skin-sam .yui3-basedatatable-paginator a.yui3-basedatatable-last {
    text-decoration:none;
}
.yui3-skin-sam .yui3-basedatatable-paginator .yui3-basedatatable-previous,
.yui3-skin-sam .yui3-basedatatable-paginator .yui3-basedatatable-next {
    display:none;
}
.yui3-skin-sam a.yui3-basedatatable-page {
    border:1px solid #CBCBCB;
    padding:2px 6px;
    text-decoration:none;
    background-color:#fff
}
.yui3-skin-sam .yui3-basedatatable-selected {
    border:1px solid #fff;
    background-color:#fff;
}
