.yui3-skin-night .yui3-datatable-scrollable-x .yui3-datatable-content {
    border-right: 1px solid #303030;
}
.yui3-skin-night .yui3-datatable-scrollable-x .yui3-datatable-table {
    border-right: 0 none;
}
.yui3-skin-night .yui3-datatable-scrollable-x .yui3-datatable-data-container {
    border-right: 0 none;
}
.yui3-skin-night .yui3-datatable-data-container {
    border: 1px solid #303030;
    border-left-color: #323434;
    border-top: 0 none;
}
.yui3-skin-night .yui3-datatable-scrollable-y table.yui3-datatable-table {
    border-bottom: 0 none;
}
.yui3-skin-night .yui3-datatable .yui3-datatable-data-container table {
    border: 0 none;
}
