/* basic skin styles */
.yui3-skin-night .yui3-datatable {
	color:#8E8E8E;
	font-family: HelveticaNeue,arial,helvetica,clean,sans-serif;
}
.yui3-skin-night .yui3-datatable table {
    border: 1px solid #323434;
    border-right: 0 none;
    border-collapse: collapse;
	color:#8E8E8E;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

.yui3-skin-night .yui3-datatable caption {
    color: #474747;
    font-size: 85%;
    font-style: italic;
    font-weight: normal;
    line-height: 1;
    padding: 1em 0;
    text-align: center;
}

.yui3-skin-night .yui3-datatable td,
.yui3-skin-night .yui3-datatable th {
    border-right: 1px solid #303030;/*  inner column border */
    margin: 0;
	overflow: visible; /*to make ths where the title is really long work*/
    padding: 4px 10px 4px 10px; /* cell padding */
    white-space: nowrap;
}
.yui3-skin-night .yui3-datatable th {
    /* header gradient */
    background-color:#3b3c3d;

	background: -moz-linear-gradient(
		0% 100% 90deg, 
		#242526 0%, 
		#3b3c3d 96%,
		#2C2D2F 100%
	);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#242526),
        color-stop(0.96, #3b3c3d),
        to(#2C2D2F)     
    );
    color: #eee;
    font-weight: normal;
    vertical-align: bottom;
}

/*
striping:
   even - #0e0e0e (darkest)
   odd  - #1d1e1e (lighter)
*/
.yui3-skin-night .yui3-datatable td        { background-color: transparent; }
.yui3-skin-night tr.yui3-datatable-even td { background-color: #0e0e0e; }
.yui3-skin-night tr.yui3-datatable-odd td  { background-color: #1d1e1e; }
