<h2>Getting Started</h2>

<p>
To include the source files for {{displayName}} and its dependencies, first load the YUI seed file if you haven't already loaded it.
</p>

{{#code}}
<script src="http://yui.yahooapis.com/{{projectVersion}}/build/yui/yui-min.js"></script>
{{/code}}

<p>
Next, create a new YUI instance for your application and populate it with the modules you need by specifying them as arguments to the <code>YUI().use()</code> method. YUI will automatically load any dependencies required by the modules you specify.
</p>

{{#code}}
// Create a new YUI instance and populate it with the required modules.
YUI().use({{useParams}}, {
  // {{displayName}} is available and ready for use. Add implementation
  // code here.
});
{{/code}}

<p>
For more information on creating YUI instances and on the <a href="http://developer.yahoo.com/yui/3/api/YUI.html#method_use"><code>use()</code> method</a>, see the documentation for the <a href="http://developer.yahoo.com/yui/3/yui/">YUI Global object</a>.
</p>
