.yui3-layout {
    margin:1em;
}

.yui3-g {
    letter-spacing: -0.35em; /* collapse white-space between units */
    *letter-spacing: normal;
    Xwhite-space:nowrap;
    word-spacing: -0.4em; /* IE < 8: collapse white-space between units */
}

.yui3-u,
.yui3-u-1,
.yui3-u-2,
.yui3-u-3,
.yui3-u-3-2,
.yui3-u-4,
.yui3-u-4-2,
.yui3-u-4-3,
.yui3-u-5,
.yui3-u-5-2,
.yui3-u-5-3,
.yui3-u-5-4,
.yui3-u-6,
.yui3-u-6-2,
.yui3-u-6-3,
.yui3-u-6-4,
.yui3-u-6-5 {
    display: inline-block;
    text-align:left;
    Xposition: relative;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    letter-spacing: normal;
    overflow:hidden;
    Xwhite-space: normal;
    word-spacing: normal;
    vertical-align: top;
    *margin-left:-0.04em;
}

.yui3-u-1 {
    display: block;
    margin: 0;
}

.yui3-u-2,
.yui3-u-4-2 {
    width: 50%;
}

.yui3-u-3 {
    width: 33.33333%;
}

.yui3-u-3-2 {
    width: 66.66666%;
}

.yui3-u-4 {
    width: 25%;
}

.yui3-u-4-3 {
    width: 75%;
}

.yui3-u-5 {
    width: 20%;
}

.yui3-u-5-2 {
    width: 40%;
}

.yui3-u-5-3 {
    width: 60%;
}

.yui3-u-5-4 {
    width: 80%;
}

.yui3-u-6 {
    width: 0.16666%;
}

.yui3-u-6-5 {
    width: 0.83333%;
}
