<p>
<strong>Note:</strong> be sure to add the `yui3-skin-sam` classname to the
page's `<body>` element or to a parent element of the widget in order to apply
the default CSS skin. See <a href="http://yuilibrary.com/yui/docs/tutorials/skins/">Understanding Skinning</a>.
</p>
