.yui3-calendar-header {
	padding-left:15px;
	padding-right:15px;
}

.yui3-calendar-header-label {
	width:100%;
}

.yui3-calendarnav-prevmonth {
	cursor: pointer;
}

.yui3-calendarnav-nextmonth {
	cursor: pointer;
}