.yui3-calendar-header {
	text-align: center;
}

.yui3-calendar-header-label {
	display: inline;
	width:100%
}

.yui3-calendarnav-prevmonth {
	cursor: pointer;
}

.yui3-calendarnav-nextmonth {
	cursor: pointer;
}