YUI().use('widget-modality', 'overlay', function(Y) {
	var overlay = new Y.Overlay({
		width : 250,
		centered : true,
		visible : false,
		plugins : [Y.Plugin.Modal]
	});
	overlay.render('#overlayContainer');

	Y.one("#openOverlayBtn").on('click', function(e) {
		overlay.show();
	});
	Y.one("#closeOverlayBtn").on('click', function(e) {
		overlay.hide();
	});
});