<input type="button" value="Open a modal overlay" id="openOverlayBtn">

<div id="overlayContainer">
	<h4>Introducing Widget Modality</h4>
    <p>YUI3 widgets can be made modal really easily now! Just plug in <code>Y.Plugin.Modal</code>, add "<code>widget-modality</code>" to your use statement and watch your widget receive all the attention that it deserves!</p>

<p>
    	<input type="button" value="Close" id="closeOverlayBtn">
    	<input type="button" value="Open Nested Overlay" id="openNestedBtn">
    	</p>
</div>

<div id="nestedContainer">
	<p>Even nesting is possible! The overlay beneath me won't receive focus until you close me. </p>

	<p>
		<input type="button" value="Close" id="closeNestedBtn">
	</p>
</div>