<style>
.example .box-row li{
    display: inline-block;
    zoom: 1; *display: inline; /* IE < 8: fake inline-block */
    width: 100px;
    line-height: 3em;
    text-align: center;
    margin: 0.5em;
    border: solid 1px #ccc;
    background-color: #F4E6B8;
}
</style>
