<ul id="demo">
    <li>Click me</li>
    <li>Click me</li>
    <li>Click me</li>
    <li>Click me</li>
</ul>

<script type="text/javascript">
YUI().use('node', function(Y) {
    var nodes = Y.all('#demo li');

    var onClick = function(e) {
        // this === nodes
        this.setContent('thanks from all of us!');

        // e.currentTarget === #demo li
        e.currentTarget.setStyle('backgroundColor', 'green');
    };

    nodes.on('click', onClick);
});
</script>
