<style>
.example .demo, .example .buttons-list{
    width: 302px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center;
}
.example .buttons-list{
    list-style: none;
    text-align: left;
    margin-left: 100px;
    width: auto;
    height: 21em;
}
.example .buttons-list .yui3-button {
    margin-bottom: 0.5em;
}
.example .buttons-list .ketchup{
    margin-bottom: 1em;
}
.example .buttons-list .another{
    display: none;
}
.example .demo li {
    position: relative;
    list-style: none;
    height: 0;
    width: 302px;
    opacity: 0;
    margin: 0 0 0 -800px;
    cursor: no-drop;
    font-size: 1px;
}
.example .demo li img {
    position: absolute;
    top: 0;
    left: 0;
}
.example .demo .bun-top, .example .demo .bun-bottom{
    opacity: 1;
    height: 106px;
    margin: 0;
}
</style>
