    <ul class="demo">
        <li class="bun-top"><img src="{{{componentAssets}}}/images/burg_bun_top.png" width="271" height="106" alt="Burger bun top"/></li>
        <li class="bun-bottom"><img src="{{{componentAssets}}}/images/burg_bun_bottom.png" width="291" height="115" alt="Burger bun bottom"/></li>
    </ul>
    <ul class="buttons-list">
        <li><button class='yui3-button patty'> Patty &#183; Before Last Bun</button></li>
        <li><button class='yui3-button lettuce'> Lettuce &#183; Before Last Bun</button></li>
        <li><button class='yui3-button cheese' disabled="disabled"> Cheese &#183; Before First Patty</button></li>
        <li><button class='yui3-button tomato'> Tomato &#183; After First Bun</button></li>
        <li><button class='yui3-button onions'> Onions &#183; After First Bun</button></li>
        <li><button class='yui3-button pickles'> Pickles &#183; After First Bun</button></li>
        <li><button class='yui3-button ketchup'> Ketchup &#183; After First Bun</button></li>
        <li><button class='yui3-button done'> Done</button></li>
        <li><button class='yui3-button another'> Another Please</button></li>
    </ul>
