/** Output Styles **/
.picker-output {
    padding: 20px 10px 10px;
    background: #efefef;
    border: 1px solid #ddd;
    border-top: none;
    -webkit-box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 6px 10px -5px rgba(0, 0, 0, 0.3);
}

.picker-output strong {
    font-weight: bold;
    display: block;
}
