hexOutput.on('focus', setFocused);
hexOutput.on('blur', unsetFocused);
hexOutput.on('valueChange', updatePickerFromValue);

rgbOutput.on('focus', setFocused);
rgbOutput.on('blur', unsetFocused);
rgbOutput.on('valueChange', updatePickerFromValue);

hslOutput.on('focus', setFocused);
hslOutput.on('blur', unsetFocused);
hslOutput.on('valueChange', updatePickerFromValue);
