<div class="sliders yui3-skin-sam">
    <dl>
        <dt>R: <span id="r-val" class="val"></span></dt><dd id="r-slider"></dd>
        <dt>G: <span id="g-val" class="val"></span></dt><dd id="g-slider"></dd>
        <dt>B: <span id="b-val" class="val"></span></dt><dd id="b-slider"></dd>
    </dl>
</div>
<div class="color"></div>
<div class="output">
    <dl>
        <dt>Hex:</dt><dd id="hex"></dd>
        <dt>RGB:</dt><dd id="rgb"></dd>
        <dt>HSL:</dt><dd id="hsl"></dd>
    </dl>
</div>
