<div class="intro">
    <p>The Cache Utility provides a basic caching mechanism for storing key/value pairs in local JavaScript memory.
</div>

<div class="example">
    {{>cache-basic-source}}
</div>

<h2>Complete Example Source</h2>

```
    {{>cache-basic-source}}
```
