#demo li {
    list-style-type: none;
    padding: 3px;
    margin: 6px;
    width: 150px;
    font-size: 114%;
    background-color: #B6BFDA;
    border: 1px solid #7E869D;
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    cursor: move;
}
