    sortable.delegate.after('drag:end', function (e) {
        var node = sortable.delegate.get('currentNode'),
            prev = node.previous(),
            next = node.next(),
            msg  = 'Moved ' + node.get('text');

        // Customize the log message based on where the `node` moved to.
        if (prev && next) {
            msg += ' between ' + prev.get('text') + ' and ' + next.get('text');
        } else if (prev) {
            msg += ' to the end, after ' + prev.get('text');
        } else if (next) {
            msg += ' to the beginning, before ' + next.get('text');
        }

        // Create a new list item and append it to our log of events.
        log.append(Y.Node.create('<li />').set('text', msg));
    });
