#demo {
    border: 1px solid black;
    height: 200px;
}
#demo em {
    display: block;
    float: left;
    padding: 3px;
    width: 150px;
    border: 1px solid black;
    margin: 3px;
    background-color: #8DD5E7;
}

