<div id="demo" class="yui-g">
    <div id="col-left" class="yui3-u">
        <ul id="list1">
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_03.png" alt="Fish:Round, 2 stripes"/><div class="cat-num">Cat. #34620</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_09.png" alt="Fish:Spiked dorsal, dark"/><div class="cat-num">Cat. #31899</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_12.png" alt="Fish:Long comb dorsal"/><div class="cat-num">Cat. #32230</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_05.png" alt="Fish:Sole, medium"/><div class="cat-num">Cat. #32003</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_04.png" alt="Fish:Round, 3 stripes"/><div class="cat-num">Cat. #34551</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_06.png" alt="Fish:Sole, light"/><div class="cat-num">Cat. #32398</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_08.png" alt="Fish:Lots of spiked fins"/><div class="cat-num">Cat. #36667</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_02.png" alt="Fish:Round, 4 stripes"/><div class="cat-num">Cat. #34821</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_10.png" alt="Fish:Big Spiked dorsal, light"/><div class="cat-num">Cat. #38144</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_13.png" alt="Fish:Long comb dorsal"/><div class="cat-num">Cat. #32445</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_07.png" alt="Fish:Sole, dark"/><div class="cat-num">Cat. #32201</div></li>
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_11.png" alt="Fish:Long comb dorsal, pointy"/><div class="cat-num">Cat. #32011</div></li>
        </ul>
    </div>
    <div id="col-right" class="yui3-u">
        <ul id="list2">
            <li class="group-hd">Group A</li>
            <!-- This fish has already been pre-placed in a group -->
            <li class="fish"><img src="{{{componentAssets}}}/images/efish_01.png" alt="Fish:Round, 5 stripes"/><div class="cat-num">Cat. #34114</div></li>
            <li class="group-hd">Group B</li>
            <li class="group-hd">Group C</li>
            <li class="group-hd">Group D</li>
        </ul>
    </div>
</div>
