<div id="demo">
    <em class="color-step1">1</em>
    <em class="color-step2">2</em>
    <em class="color-step3">3</em>
    <em class="color-step4">4</em>
    <em class="color-step5">5</em>
    <em class="color-step6">6</em>
    <em class="color-step7">7</em>
    <em class="color-step8">8</em>
    <em class="color-step9">9</em>
    <em class="color-step10">10</em>
</div>
