<div class="intro">
    <p>This example shows a page of HTML elements with CSS Reset and CSS Fonts applied.</p>
</div>

<div class="example newwindow">
    <a href="cssfonts-basic-example.html" target="_blank" class="button">
        View Example in New Window
    </a>
</div>

<p>When CSS Fonts is included in a page it applies a baseline font treatment to all HTML elements. This baseline is Arial (with fallbacks) at the equivalent of 13px size and 16px line-height. This example shows what that looks like.</p>

<h3>Note:</h3>
<p>Because CSS examples are susceptible to other CSS on the page, this example is only available in a new window at the above link.</p>


